<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.samjung.App06SamMapper">
    <select id="GetMHManualList"  parameterType="com.actas.ems.DTO.Elvlrt.App06ElvlrtDto" resultType="com.actas.ems.DTO.Elvlrt.App06ElvlrtDto">
        select hseq, hinputdate, hgroupcd, hsubject, hpernm, hmemo, hflag, (select com_cnam from tb_ca510 where com_cls = '754' and com_code=hgroupcd) as cnam,
        (select Count(*) from tb_mattach where flag='MH' and board_idx=hseq and delete_yn = 'N') as attcnt
        from tb_mhmanual WITH (NOLOCK)
        Where 1 = 1 order by hseq desc
        <!--        <if test="hsubject != null">-->
        <!--            and hsubject like '%' + #{hsubject} + '%'-->
        <!--        </if>-->
        <!--        <if test="hmemo != null">-->
        <!--            and hmemo like '%' + #{hmemo} + '%'-->
        <!--        </if>-->
    </select>

    <select id="GetMHManualBlankList"  resultType="com.actas.ems.DTO.Elvlrt.App06ElvlrtDto">
        select '' as hseq, '' as hinputdate, '' as hgroupcd, '' as hsubject, '' as hfilename, '' as hpernm, '' as hmemo, '' as hflag
        from dual
        <!--        <if test="hsubject != null">-->
        <!--            and hsubject like '%' + #{hsubject} + '%'-->
        <!--        </if>-->
        <!--        <if test="hmemo != null">-->
        <!--            and hmemo like '%' + #{hmemo} + '%'-->
        <!--        </if>-->
    </select>
    <select id="getMHManualMaxSeq"  parameterType="string" resultType="java.lang.String">
        select max(hseq) from tb_mhmanual  where Left(hseq,6) = #{hseq}
    </select>


    <select id="GetMHManualView" parameterType="com.actas.ems.DTO.Elvlrt.App06ElvlrtDto"  resultType="com.actas.ems.DTO.Elvlrt.App06ElvlrtDto">
        select hseq, hinputdate, hgroupcd, hsubject, hfilename, hpernm, hmemo, hflag
        from tb_mhmanual where hseq = #{hseq}
    </select>

    <insert id="InsertMHManual" parameterType="com.actas.ems.DTO.Elvlrt.App06ElvlrtDto" >
        insert into tb_mhmanual (custcd, spjangcd, hseq, hinputdate, hgroupcd, hsubject, hmemo, hpernm, hflag) values (#{custcd}, #{spjangcd}, #{hseq}, #{hinputdate}, #{hgroupcd}, #{hsubject}, #{hmemo}, #{hpernm}, #{hflag})
    </insert>

    <update id="UpdateMHManual" parameterType="com.actas.ems.DTO.Elvlrt.App06ElvlrtDto">
        update tb_mhmanual set
        hgroupcd = #{hgroupcd}
        <if test="hsubject != null ">,</if>
        <if test="hsubject != null">hsubject=#{hsubject}</if>
        <if test="hfilename != null ">,</if>
        <if test="hfilename != null">hfilename=#{hfilename}</if>
        <if test="hmemo != null ">,</if>
        <if test="hmemo != null">hmemo=#{hmemo}</if>
        <if test="hinputdate != null ">,</if>
        <if test="hinputdate != null">hinputdate=#{hinputdate}</if>
        <if test="hpernm != null ">,</if>
        <if test="hpernm != null">hpernm=#{hpernm}</if>
        <if test="hflag != null ">,</if>
        <if test="hflag != null">hflag=#{hflag}</if>
        where hseq = #{hseq}
    </update>


    <delete id="DeleteMHManual" parameterType="com.actas.ems.DTO.Elvlrt.App06ElvlrtDto">
        delete from tb_mhmanual where hseq = #{hseq}
    </delete>


    <select id="GetComm751List"  resultType="com.actas.ems.DTO.CommonDto">
        <![CDATA[
            SELECT  com_code AS code, com_cnam AS cnam
            FROM     dbo.tb_ca510 WITH (NOLOCK)
            WHERE  (com_cls = '754')  and com_code <> '00'
         ]]>
    </select>
    <select id="GetComm751BlankList"  resultType="com.actas.ems.DTO.CommonDto">
        <![CDATA[
        SELECT  '' AS code, '' AS cnam
        FROM     dual
        ]]>
    </select>

</mapper>
