<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACTAS Elevator 유지보수센터</title>
    <meta name="keyword" content="ACTAS Elevator 유지보수센터">
    <meta name="description" content="ACTAS Elevator 유지보수센터">
    <meta name="author" content="ACTAS Elevator 유지보수센터">   
    
    <!-- css -->
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" href="./assets/css/sub.css">

    <!-- script -->
    <script src="./assets/scripts/jquery-3.1.1.min.js"></script>
    <script src="./assets/scripts/script.js"></script>
    
</head>
<body style="background: #f5f9fa;">
    <header>

    </header>
    <div class="content flex">
        <div class="header">
            <div class="left">
                <div class="ham">
                    <button type="button"><img src="./assets/images/ham.png" alt=""></button>
                </div>
                <div class="nav_bg"></div>
                <ul class="nav">
                    <li>
                        <button type="button"><img src="./assets/images/header_icon1.png" alt=""></button>
                        <div class="depth2">
                            <div class="dep_main">
                                <a href="./center.html">
                                    <button type="button">
                                        종합유지관리서비스
                                    </button>
                                </a>
                            </div>
                            <ul>
                                <li><a href="./center.html"><i><img class="dot1" src="./assets/images/i_dot_header.png" alt=""><img class="dot2" src="./assets/images/i_dot_header2.png" alt=""></i>고객상담센터</a></li>
                                <li><a href="./control.html"><i><img class="dot1" src="./assets/images/i_dot_header.png" alt=""><img class="dot2" src="./assets/images/i_dot_header2.png" alt=""></i>고장접수관제현황</a></li>
                                <li><a href="./registration"><i><img class="dot1" src="./assets/images/i_dot_header.png" alt=""><img class="dot2" src="./assets/images/i_dot_header2.png" alt=""></i>고장처리등록</a></li>
                            </ul>
                        </div>     
                    </li>
                    <li>
                        <button type="button"><img src="./assets/images/header_icon2.png" alt=""></button>
                        <div class="depth2">
                            <div class="dep_main">
                                <a href="">
                                    <button type="button">
                                        통계관리
                                    </button>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button type="button"><img src="./assets/images/header_icon3.png" alt=""></button>
                        <div class="depth2 on">
                            <div class="dep_main">
                                <a href="./reference.html">
                                    <button type="button">
                                        기술자료실
                                    </button>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button type="button"><img src="./assets/images/header_icon4.png" alt=""></button>
                        <div class="depth2">
                            <div class="dep_main">
                                <a href="">
                                    <button type="button">
                                        수리노하우
                                    </button>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button type="button"><img src="./assets/images/header_icon5.png" alt=""></button>
                        <div class="depth2">
                            <div class="dep_main">
                                <a href="">
                                    <button type="button">
                                        고객케어센터
                                    </button>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button type="button"><img src="./assets/images/header_icon6.png" alt=""></button>
                        <div class="depth2">
                            <div class="dep_main">
                                <a href="">
                                    <button type="button">
                                        공지사항
                                    </button>
                                </a>
                            </div>
                        </div>                        
                    </li>
                    <li>
                        <button type="button"><img src="./assets/images/header_icon7.png" alt=""></button>
                        <div class="depth2">
                            <div class="dep_main">
                                <a href="">
                                    <button type="button">
                                        고객지원
                                    </button>
                                </a>
                            </div>
                        </div>                        
                    </li>
                </ul>
            </div>
            <div class="right">           
            </div>
        </div>
        <div class="con">
            <div class="header_top">
                <ul class="left">
                    <li>
                        <div class="logo">
                            <a href="">
                                <img src="./assets/images/logo.png" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="home">
                        <a><img src="./assets/images/i_home.png" alt=""></a>
                        <a><img src="./assets/images/i_home_on.png" alt=""></a>
                    </li>
                    <li class="on">
                        자료실
                    </li>
                    <!-- <li class="on">
                        고장접수관제현황
                    </li> -->
                </ul>
                <ul class="right">
                    <li>
                        <a href="">
                            <img src="./assets/images/i_call.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./assets/images/i_bell.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./assets/images/i_menu.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./assets/images/i_que.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./assets/images/i_user.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="infor_bar type2">
                <div class=""></div>
                <div class="left">
                    자료실
                </div>
                <div class=""></div>

            </div>
            <div class="section ">
                
                <div class="sec_con" style="width: 100%;">
                    <div class="box_wrap">
                        <div class="reference_tit">
                            <div class="title">
                                제목
                            </div>
                            <div class="input_wrap">
                                <input type="text">
                            </div>
                            <div class="title">
                                일자
                            </div>
                            <div class="input_wrap" style="max-width: 235px">
                                <input type="text">
                            </div>
                        </div>
                        <form action="">

                            <div class="table table_style3">
                                <table>
                                    <tr>
                                        <th style="width: 7%;">분류</th>
                                        <td style="width: 93%">
                                            <div class="input_wrap" style="max-width: 235px;">
                                                <select name="" id="">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>내용</th>
                                        <td>
                                            <textarea ></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>첨부파일</th>
                                        <td>
                                            <input type="file" id="file1" style="display: none;">
                                            <div class="input_wrap file" style="max-width: 235px;">
                                                <input type="text" class="fileName">
                                                <label for="file1"><img src="./assets/images/i_plus.png" alt=""></label>
                                            </div>
                                            <br/>
                                            <a href="" download="">도면2.jpg</a><br/>
                                            <a href="" download="">도면2.jpg</a><br/>
                                            <a href="" download="">도면2.jpg</a><br/>
                                            <a href="" download="">도면2.jpg</a><br/>
                                            <a href="" download="">도면2.jpg</a><br/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>미리보기</th>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                </table>  
                                <div class="btn_wrap">
                                    <button type="submit">저장</button>
                                </div>                                                         
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>

    <!-- modal -->
    <!-- class="modal_step_open" modal_step="1" -->
    
    <div class="modal modal modal_step modal_step1 hidden">
        <div class="modal_overlay">
        </div>
        <div class="modal_content modal_sm scrollbar">
            <div class="layoutCont">  
                <div class="modalContWrap">
                    <!-- <div class="modal_close cancerButton">
                      <img src="./assets/images/modal_close.png" alt="모달 닫기버튼">
                    </div>                       -->
                    <div class="modal_head">
                    </div>
                    <div class="modal_con scrollbar">
                      모든 정보를 입력하세요.                          
                    </div>

                </div>
                <div class="modal_btn">
                    <button class="cancerButton " type="button">확인</button>
                </div>
                <!-- <div class="modal_btn flex">
                    <button class="cancerButton " type="button">확인</button>
                    <button class="cancerButton " type="button">확인</button>                        
                </div> -->
            </div>
        </div>
    </div>
    
</body>
</html>