<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">  
    <div class="header_top">
        <ul class="left">
            <li>
                <div class="logo">                                
                    <a th:href="@{/auth/emmsdashboard}">
                        <img th:src="@{/assets/images/logo.png}" alt="">
                    </a>
                </div>
            </li>
            <li class="home">
                <a><img th:src="@{/assets/images/i_home.png}" alt=""></a>
                <a><img th:src="@{/assets/images/i_home_on.png}" alt=""></a>
            </li> 
            <li th:text="${userformDto.pagetree01}"></li>
            <li class="on" th:text="${userformDto.pagenm}"></li> 
        </ul>
        <ul class="right">

            <li>
                <a th:href="@{/}">                   
                    <img th:src="@{/assets/images/in2.png}" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/assets/images/i_user.png}" alt="">
                </a>
            </li>
        </ul>
    </div>
</html>