<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block layout:fragment="leftNavComm">
        <ul class="nav">
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon1.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="./center.html">
                            <button type="button">
                                종합유지관리서비스
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li><a href="javascript:menu01_btn();"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>KT고객상담센터</a></li>
                        <li><a href="javascript:menu02_btn();"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>KT디자인</a></li>
                        <li><a th:href="@{/app01/emcontrol}" target="_blank"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>고장접수관제현황</a></li>
                        <li><a th:href="@{/app10/index01}"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>고장처리등록</a></li>
                    </ul>
                </div>     
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon2.png}" alt=""></button>
                <div class="depth2 on">
                    <div class="dep_main">
                        <a href="">    
                            <button type="button">
                                통계관리
                            </button>
                        </a>
                    </div>


                    <ul>
                        <li class="on"><a th:href="@{/app03/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장내용별고장현황</a></li>
                        <li><a th:href="@{/app12/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장부위별수리현황</a></li>
                        <li><a th:href="@{/app20/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>현장별고장현황</a></li>
                        <li><a th:href="@{/app13/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>현장별수리현황</a></li>
                        <li><a th:href="@{/app26/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>보수현장정보</a></li>
                        <li><a th:href="@{/app14/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>보수기사정보</a></li>
                        <li><a th:href="@{/app23/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장부위별현황</a></li>
                        <li><a th:href="@{/app16/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>현장별월별통계</a></li>
                        <li><a th:href="@{/app19/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>승강기고장통계</a></li>
                        <li><a th:href="@{/app25/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>호기별고장통계</a></li>
                        <li><a th:href="@{/app18/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>대응및처리시간</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon3.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="">
                            <button type="button">
                                기술자료실
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li  class='on'  ><a th:href="@{/app04/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>도면자료실</a></li>
                        <li><a th:href="@{/app04/index02}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>부품자료실</a></li>
                        <li><a th:href="@{/app04/index03}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>기타자료실</a></li>
                        <li><a th:href="@{/app07/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>점검조치사항</a></li>

                    </ul>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon4.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="">
                            
                            <button type="button">
                                수리노하우
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li><a th:href="@{/app06/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>수리노하우</a></li>
                        <li><a th:href="@{/app08/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>부품가이드</a></li>
                        <li><a th:href="@{/app28/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>수리 Q&A</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon5.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="./care_center.html">
                            <button type="button">
                                고객케어센터
                            </button>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon6.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">

                            <button type="button">
                                공지사항
                            </button>
                        </a>
                      </div>
                    <ul>
                        <li><a th:href="@{/app05/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>공지사항</a></li>
                        <li class="on"><a th:href="@{/app09/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>FaQ</a></li>

                    </ul>
                </div>

            </li>

            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon7.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="">
                            <button type="button">
                                고객지원
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li><a th:href="@{/app21/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>호기별고장현황</a></li>
                        <li><a th:href="@{/app27/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장구분별현황</a></li>
                        <li><a th:href="@{/app16/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>월별고장율현황</a></li>
                        <li><a th:href="@{/app19/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>승강기호기별고장통계</a></li>
                        <li><a th:href="@{/app25/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>동호기별고장통계</a></li>
                        <li><a th:href="@{/app22/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>승강기월별고장통계</a></li>

                    </ul>
                </div>                        
            </li>
        </ul>
    </th:block>

    <script>
        function menu01_btn(){ 
                    // var ls_actuseridz   =  jQuery('#actuseridz').val(); //document.getElementById('actuseridz').value; 
                    // var ls_actusernamez =  jQuery('#actusernamez').val(); //document.getElementById('actusernamez').value;  
                    // var ls_actcltcdz =   jQuery('#actcltcdz').val();  //document.getElementById('actcltcdz').value;  
                    // ls_actcltcdz =    ls_actcltcdz + "";
                    // var ls_actdbnmz =  jQuery('#actdbnmz').val();   //document.getElementById('actdbnmz').value;    
                    // var ls_actflagz =  jQuery('#actflagz').val();   //document.getElementById('actflagz').value;  
                    // var ls_actcalluseridz =  jQuery('#actcalluseridz').val();   
                    // var ls_actcalluserpwz =  jQuery('#actcalluserpwz').val();   

                    // var ls_uri          = "actuseridz=" + ls_actuseridz +"&actusernamez=" + ls_actusernamez + "&actcltcdz=" + ls_actcltcdz ;
                    //     ls_uri = ls_uri +  "&actdbnmz=" + ls_actdbnmz + "&actflagz=" + ls_actflagz + "&actcalluseridz=" + ls_actcalluseridz;
                    //     ls_uri = ls_uri +  "&actcalluserpwz=" + ls_actcalluserpwz;
                    var win = window.open("/app01/ktcall",   "codetab", "fullscreen=yes"); 
            } 
        function menu02_btn(){ 
                    var win = window.open("/app01/ktcalltemp",  "designtab" ); 
            } 
    </script>
</html>
