<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block layout:fragment="leftNavComm">
        <ul class="nav">
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon1.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="./center.html">
                            <button type="button">
                                종합유지관리서비스
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li><a href="./center.html"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>고객상담센터</a></li>
                        <li><a href="./control.html"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>고장접수관제현황</a></li>
                        <li><a href="./registration"><i><img class="dot1" th:src="@{/assets/images/i_dot_header.png}" alt=""><img class="dot2" th:src="@{/assets/images/i_dot_header2.png}" alt=""></i>고장처리등록</a></li>
                    </ul>
                </div>     
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon2.png}" alt=""></button>
                <div class="depth2 on">
                    <div class="dep_main">
                        <a href="">    
                            <button type="button">
                                통계관리
                            </button>
                        </a>
                    </div>
                    <ul>
                        <li  class="on"><a th:href="@{/app03/index01}"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장내용별고장현황</a></li>
                        <li><a href="./control.html"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장부위별수리현황</a></li>
                        <li><a href="./registration"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>현장별고장현황</a></li>
                        <li><a href="./registration"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>현장별수리현황</a></li>
                        <li><a href="./registration"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>보수현장정보</a></li>
                        <li><a href="./registration"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>보수기사정보</a></li>
                        <li><a href="./registration"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장구분별현황</a></li>
                        <li><a href="./registration"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>현장별월별통계</a></li>
                        <li><a href="./registration"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>승강기고장통계</a></li>
                        <li><a href="./registration"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>호기별고장통계</a></li>
                    </ul>    
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon3.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="">
                            <button type="button">
                                기술자료실
                            </button>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon4.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="">
                            
                            <button type="button">
                                수리노하우
                            </button>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon5.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="./care_center.html">
                            <button type="button">
                                고객케어센터
                            </button>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon6.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a th:href="@{/app05/index01}">
                            <button type="button">
                                공지사항
                            </button>
                        </a>
                    </div>
                </div>                        
            </li>
            <li>
                <button type="button"><img th:src="@{/assets/images/header_icon7.png}" alt=""></button>
                <div class="depth2">
                    <div class="dep_main">
                        <a href="">
                            <button type="button">
                                고객지원
                            </button>
                        </a>
                    </div>
                </div>                        
            </li>
        </ul>
    </th:block>
</html>
