<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.kyoung.App07KyoungMapper">
    <select id="GetMManulList" parameterType="com.actas.ems.DTO.Elvlrt.App07ElvlrtDto"  resultType="com.actas.ems.DTO.Elvlrt.App07ElvlrtDto">
        select fseq, finputdate, fgourpcd, fnsubject, ffilename, fpernm, fmemo, fflag,  isnull((select com_cnam from tb_ca510 where com_cls = '018' and com_code=fgourpcd), '') as cnam,
               (select Count(*) from TB_MATTACH_MF where flag='MF' and board_idx=fseq and delete_yn = 'N') as attcnt
        from TB_MFIXBBS WITH (NOLOCK)
        Where 1 = 1
          AND fnsubject like CONCAT('%',#{fnsubject},'%')
        order by fseq desc;

        /*
        select fseq, fgourpcd, ffilename, fflag,  finputdate,fnsubject,fpernm,fmemo
        from TB_MFIXBBS order by fseq asc;
         */
    </select>
    <!--뭔지 알수 없음-->
    <select id="GetMManulBlankList"  resultType="com.actas.ems.DTO.Elvlrt.App07ElvlrtDto">
        select '' as fseq, '' as finputdate, '' as fgourpcd, '' as fnsubject, '' as ffilename, '' as fpernm, '' as fmemo, '' as fflag
        from dual
        <!--        <if test="msubject != null">-->
        <!--            and msubject like '%' + #{msubject} + '%'-->
        <!--        </if>-->
        <!--        <if test="memo != null">-->
        <!--            and memo like '%' + #{memo} + '%'-->
        <!--        </if>-->
    </select>

    <!-- 알수 없음-->
    <select id="getMManualMaxSeq" parameterType="string" resultType="java.lang.String">
        select max(fseq) from TB_MFIXBBS where Left(fseq,6) = #{fseq}
    </select>

    <!--게시글 상세조회-->
    <select id="GetMManulView" parameterType="com.actas.ems.DTO.Elvlrt.App07ElvlrtDto" resultType="com.actas.ems.DTO.Elvlrt.App07ElvlrtDto">
        SELECT fseq, finputdate, fgourpcd, fpernm, fnsubject, ffilename, fflag, fmemo FROM TB_MFIXBBS where fseq = #{fseq};
    </select>


    <!--게시글 작성-->
    <insert id="InsertMManul" parameterType="com.actas.ems.DTO.Elvlrt.App07ElvlrtDto">

        insert into TB_MFIXBBS (custcd, spjangcd, fseq, finputdate, fgourpcd, fnsubject, fmemo, fpernm, fflag) values (#{custcd}, #{spjangcd}, #{fseq}, #{finputdate}, #{fgourpcd}, #{fnsubject}, #{fmemo}, #{fpernm}, #{fflag})

    </insert>


    <!--게시글 수정-->
    <update id="UpdateMManul" parameterType="com.actas.ems.DTO.Elvlrt.App07ElvlrtDto">
        update TB_MFIXBBS set
        fgourpcd = #{fgourpcd}
        <if test="fnsubject != null ">,</if>
        <if test="fnsubject != null">fnsubject=#{fnsubject}</if>
        <if test="ffilename != null ">,</if>
        <if test="ffilename != null">ffilename=#{ffilename}</if>
        <if test="fmemo != null ">,</if>
        <if test="fmemo != null">fmemo=#{fmemo}</if>
        <if test="finputdate != null ">,</if>
        <if test="finputdate != null">finputdate=#{finputdate}</if>
        <if test="fpernm != null ">,</if>
        <if test="fpernm != null">fpernm=#{fpernm}</if>
        <if test="fflag != null ">,</if>
        <if test="fflag != null">fflag=#{fflag}</if>
        where fseq = #{fseq}
    </update>

    <!--게시글 삭제-->
    <delete id="DeleteMManul" parameterType="com.actas.ems.DTO.Elvlrt.App07ElvlrtDto">
        DELETE FROM TB_MFIXBBS WHERE fseq= #{fseq};
    </delete>



    <select id="GetComm750List"  resultType="com.actas.ems.DTO.CommonDto">
        <![CDATA[
        SELECT  com_code AS code, com_cnam AS cnam
        FROM     dbo.tb_ca510 WITH (NOLOCK)
        WHERE  (com_cls = '018') AND (com_code <> '00')
        ]]>
    </select>


    <select id="GetComm750BlankList"  resultType="com.actas.ems.DTO.CommonDto">
        <![CDATA[
        SELECT  '' AS code, '' AS cnam
        FROM     dual
        ]]>
    </select>
</mapper>
