<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.kyoung.App20KyoungMapper">

    <!--      현장별 고장현황  -->
    <select id="GetApp20List001"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App20ElvlrtDto">
        <![CDATA[
                SELECT a.actcd,
                a.actnm,
                a.equpcd,
                a.equpnm,
                a.qty,
                a.perid,
                a.pernm,
                a.contcd,
                a.contnm,
                a.contents,
                a.remark
          FROM (SELECT a.actcd,
                            q.actnm,
                            a.equpcd,
                            m.equpnm,
                            count(a.compdate) as qty,
                            max(a.perid) as perid,
                            d.pernm,
                            max(b.contcd) as contcd,
                            p.contnm,
                            max(convert(varchar(100), b.contents)) as contents,
                            max(a.remark) as remark
                     FROM tb_e411 a
                       LEFT OUTER JOIN TB_E601 q WITH(NOLOCK) ON (a.custcd = q.custcd AND a.spjangcd = q.spjangcd AND a.actcd = q.actcd)
                            LEFT OUTER JOIN TB_E611 m WITH(NOLOCK) ON (a.custcd = m.custcd AND a.spjangcd = m.spjangcd AND a.actcd = m.actcd AND a.equpcd = m.equpcd)
                       LEFT OUTER JOIN TB_JA001 d WITH(NOLOCK) ON (a.custcd = d.custcd AND a.spjangcd = d.spjangcd AND a.perid = substring(d.perid, 2, 10))
                            LEFT OUTER JOIN tb_e401 b ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.recedate = b.recedate AND a.recenum = b.recenum)
                       LEFT OUTER JOIN tb_e010 p WITH(NOLOCK) ON (b.custcd = p.custcd AND b.spjangcd = p.spjangcd AND b.contcd = p.contcd)
                    WHERE a.compdate BETWEEN #{frdate} AND #{todate}
                      AND (q.actcd = #{actcd} OR #{actcd} = '%')
                    GROUP BY a.custcd, a.spjangcd, a.actcd, a.equpcd, q.actnm, p.contnm, m.equpnm, d.pernm) a
          WHERE a.qty >= #{qty}
            AND (a.perid = #{perid} OR #{perid} = '%')

        ]]>
    </select>


</mapper>
