<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.master.AuthDBMapper">
    <insert id="TBXUSERS_Insert" parameterType="com.actas.ems.DTO.UserFormDto" keyProperty="username">
        INSERT INTO TB_XUSERS(userid, rnum, passwd1, passwd2, custnm, pernm, useyn, password, role, custcd, spjangcd,
                              username, actcd, actnm, saupnum, flag, phone )
        VALUES (#{userid},#{rnum}, #{passwd1}, #{passwd2}, #{custnm}, #{pernm}, #{useyn}, #{password}, #{role}, #{custcd}, #{spjangcd},
                #{username}, #{actcd}, #{actnm}, #{saupnum}, #{flag}, #{phone})
    </insert>
    <select id="GetUserInfo" parameterType="com.actas.ems.DTO.UserFormDto"  resultType="com.actas.ems.DTO.UserFormDto">
        select userid, passwd1, username, actcd, actnm, saupnum, flag, phone, pernm, useyn, role, dbnm
         from TB_XUSERS where userid=#{userid} and passwd1=#{passwd1}
    </select>
    <select id="GetClientInfo" parameterType="com.actas.ems.DTO.UserFormDto" resultType="String">
        SELECT dbo.uf_client_info(#{saupnum})
    </select>
    <update id="UpdateDbInfo" parameterType="com.actas.ems.DTO.UserFormDto"  >
        UPDATE TB_XUSERS SET  dbnm=#{dbnm}, cltcd=#{cltcd}
        from TB_XUSERS  where userid=#{userid} and passwd1=#{passwd1}
    </update>

    <select id="TB_XUSER_DUPCHK" parameterType="com.actas.ems.DTO.UserFormDto" resultType="String">
        SELECT TOP 1 A.userid as userid
        FROM tb_xusers A WITH(NOLOCK)
        WHERE A.userid=#{userid}
    </select>

    <select id="TB_XCLIENT_SELECT" parameterType="com.actas.ems.DTO.UserFormDto" resultType="String">
        <!--SELECT DBO.UF_CLIENT_INFO(#{saupnum}) -->
        <!--
        SELECT TOP 1 A.cltnm as cltnmsa
        FROM tb_xusers A WITH(NOLOCK)
        WHERE A.saupnum=#{saupnum}
        -->

        SELECT dbo.uf_clientnm_info(#{saupnum}) as cltcd

        <!--SELECT dbo.uf_clientnm_info(#{saupnum}) as cltnm -->

    </select>
</mapper>
