<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.Elvlrt.App10ElvlrtMapper">
<!--      조회  -->
    <select id="GetApp10List001"  parameterType="com.actas.ems.DTO.Elvlrt.App10ElvlrtDto" resultType="com.actas.ems.DTO.Elvlrt.App10ElvlrtDto">
        <![CDATA[SELECT a.recedate,
                        a.custcd,
                        a.spjangcd,
                        a.recenum,
                        a.cltcd,
                        a.actcd,
                        b.actnm,
                        b.perid as actperid,
                        e.pernm as actpernm,
                        a.equpcd,
                        c.equpnm,
                        a.contcd,
                        d.contnm,
                        a.contents,
                        a.recetime,
                        a.perid,
                        e.pernm,
                        a.divicd,
                        f.divinm,
                        CASE a.resultck WHEN '1' THEN '처리'
                                        WHEN '0' THEN '미처리'
                        end as resultck
    FROM tb_e401 a WITH(NOLOCK)
                     LEFT OUTER JOIN TB_E601 b WITh(NOLOCK) ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.actcd = b.actcd)
                     LEFT OUTER JOIN TB_E611 c WITh(NOLOCK) ON (a.custcd = c.custcd AND a.spjangcd = c.spjangcd AND a.actcd = c.actcd AND  a.equpcd = c.equpcd)
                     LEFT OUTER JOIN TB_E010 d WITh(NOLOCK) ON (a.custcd = d.custcd AND a.spjangcd = d.spjangcd AND a.contcd = d.contcd)
                     LEFT OUTER JOIN TB_JA001 e WITh(NOLOCK) ON (a.custcd = e.custcd AND a.spjangcd = e.spjangcd AND a.perid = e.perid)
                     LEFT OUTER JOIN TB_JC002 f WITh(NOLOCK) ON (a.custcd = f.custcd AND a.spjangcd = f.spjangcd AND a.divicd = f.divicd)
                 WHERE
                     a.spjangcd = #{spjangcd}
                   AND a.resultck like CONCAT('%',#{changeop},'%')
                   AND a.recedate BETWEEN #{frdate} AND #{todate}
        ]]>
    </select>



    <!--result를 1로 고정시킨 후 insert-->
    <insert id="Insert10Manul" parameterType="com.actas.ems.DTO.Elvlrt.App10ElvlrtDto">
        insert into tb_e411 (custcd, spjangcd, compnum, compdate, actperid, perid, arrivdate, arrivtime, comptime, remoremark, resuremark, remark, inputdate, inperid, resutime, "result") values
        ('ELVLRT', 'ZZ', next value for id_ff, #{compdate}, #{actperid}, #{perid}, #{arrivdate}, #{arrivtime}, #{comptime}, #{remoremark}, #{resuremark}, #{remark}, #{inputdate}, #{inperid}, #{resutime}, '1')
    </insert>

    <update id="Update10Manul" parameterType="com.actas.ems.DTO.Elvlrt.App10ElvlrtDto">
        update tb_e411
        set inputdate = #{inputdate}
        <if test="actperid != null ">,</if>
        <if test="actperid != null">actperid=#{actperid}</if>
        <if test="perid != null ">,</if>
        <if test="perid != null">perid=#{perid}</if>
        <if test="arrivdate != null ">,</if>
        <if test="arrivdate != null">arrivdate=#{arrivdate}</if>
        <if test="arrivtime != null ">,</if>
        <if test="arrivtime != null">arrivtime=#{arrivtime}</if>
        <if test="comptime != null ">,</if>
        <if test="comptime != null">comptime=#{comptime}</if>
        <if test="remoremark != null ">,</if>
        <if test="remoremark != null">remoremark=#{remoremark}</if>
        <if test="resuremark != null ">,</if>
        <if test="resuremark != null">resuremark=#{resuremark}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null">remark=#{remark}</if>
        <if test="inputdate != null ">,</if>
        <if test="inputdate != null">inputdate=#{inputdate}</if>
        <if test="inperid != null ">,</if>
        <if test="inperid != null">inperid=#{inperid}</if>
        <if test="indate != null ">,</if>
        <if test="indate != null">indate=#{indate}</if>
        where compnum = #{compnum}
    </update>
    <!-- seq set, 6개 포맷으로 가져온다는 뜻임-->
    <select id="get10ManualMaxSeq" parameterType="string" resultType="java.lang.String">
        select max(compnum) from tb_e411 where compdate = #{compdate}
    </select>

<!--    일자별-->

    <select id="GetApptab10List001" parameterType="com.actas.ems.DTO.Elvlrt.App10ElvlrtDto" resultType="com.actas.ems.DTO.Elvlrt.App10ElvlrtDto">
        <![CDATA[SELECT a.recedate,
                        a.recetime,
                     left(a.recedate, 6) as recemon,
                     left(a.compdate, 6) as compmon,
                     b.actnm,
                     c.equpnm,
                     b.qty as cnt,
                     a.ascnt,
                     d.pernm AS actpernm,
                     a.divinm,
                     a.recepernm,
                     a.pernm,
                     a.contnm,
                     a.contremark,
                     a.resunm,
                     a.resuremark,
                     a.repernm,
                     a.faccd,
                     a.facnm,
                     a.remonm,
                     a.remoremark,
                     a.greginm,
                     a.reginm,
                     a.result,
                     a.compdate,
                     a.arrivdate,
                     a.arrivtime,
                     a.comptime,
                     convert(int, a.resutime) as resutime,
                     convert(int, a.resulttime) as resulttime,
                     a.resultnm
                 FROM
                     (
                     SELECT a.custcd,
                     a.spjangcd,
                     a.cltcd,
                     a.actcd,
                     a.equpcd,
                     a.recedate,
                     a.recetime,
                     a.hitchdate,
                     a.hitchhour,
                     1 as cnt,
                     1 as ascnt,
                     c.pernm as recepernm,
                     d.pernm,
                     e.divinm,
                     f.contnm,
                     a.contents as contremark,
                     g.resunm,
                     resuremark,
                     h.pernm as repernm,
                     i.remonm,
                     b.faccd,
                     j.facnm,
                     b.remoremark,
                     k.greginm,
                     l.reginm,
                     isnull(b.result, '0')as "result",
                     b.arrivdate,
                     b.arrivtime,
                     b.compdate,
                     b.comptime,
                     b.resutime,
                     b.resulttime,
                     m.resultnm

                     FROM tb_e401 a WITH(NOLOCK)
                     LEFT OUTER JOIN tb_ja001 c WITH(NOLOCK) ON (a.custcd = c.custcd AND a.spjangcd = c.spjangcd AND a.perid =  c.perid )
                     LEFT OUTER JOIN tb_ja001 h WITH(NOLOCK) ON (a.custcd = h.custcd AND a.spjangcd = h.spjangcd AND  a.reperid = h.perid )
                     LEFT OUTER JOIN tb_e010 f WITH(NOLOCK) ON (a.custcd = f.custcd AND a.spjangcd = f.spjangcd AND a.contcd = f.contcd)
                     LEFT OUTER JOIN tb_e411 b WITH(NOLOCK) ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.recedate = b.recedate AND a.recenum = b.recenum)
                     LEFT OUTER JOIN tb_ja001 d WITH(NOLOCK) ON (b.custcd = d.custcd AND b.spjangcd = d.spjangcd AND b.perid =  d.perid )
                     LEFT OUTER JOIN tb_jc002 e WITH(NOLOCK) ON (d.custcd = e.custcd AND d.spjangcd = e.spjangcd AND d.divicd = e.divicd)
                     LEFT OUTER JOIN tb_e012 g WITH(NOLOCK) ON (b.custcd = g.custcd AND b.spjangcd = g.spjangcd AND b.resucd = g.resucd)
                     LEFT OUTER JOIN tb_e011 i WITH(NOLOCK) ON (b.custcd = i.custcd AND b.spjangcd = i.spjangcd AND b.remocd = i.remocd)
                     LEFT OUTER JOIN tb_e019 j WITH(NOLOCK) ON (b.custcd = j.custcd AND b.spjangcd = j.spjangcd AND b.faccd = j.faccd)
                     LEFT OUTER JOIN tb_e013 k WITH(NOLOCK) ON (b.custcd = k.custcd AND b.spjangcd = k.spjangcd AND b.gregicd = k.gregicd)
                     LEFT OUTER JOIN tb_e014 l WITH(NOLOCK) ON (b.custcd = l.custcd AND b.spjangcd = l.spjangcd AND b.gregicd = l.gregicd AND b.regicd = l.regicd  )
                     LEFT OUTER JOIN tb_e015 m WITH(NOLOCK) ON (b.custcd = m.custcd AND b.spjangcd = m.spjangcd AND b.resultcd = m.resultcd)
                     ) a
                     LEFT OUTER JOIN tb_e611 c WITH(NOLOCK) ON (a.custcd = c.custcd AND a.spjangcd = c.spjangcd AND a.actcd = c.actcd and a.equpcd = c.equpcd)
                     LEFT OUTER JOIN tb_e006 f WITH(NOLOCK) ON (c.custcd = f.custcd AND c.spjangcd = f.spjangcd AND c.jejak = f.manucd AND c.model = f.mdcd),
                     tb_e601 b
                     LEFT OUTER JOIN tb_ja001 d WITH(NOLOCK) ON (b.custcd = d.custcd AND b.spjangcd = d.spjangcd AND +  b.perid =  d.perid )

                 WHERE a.custcd = b.custcd
                   AND a.spjangcd = b.spjangcd
                   AND a.custcd = 'ELVLRT'
                   AND a.spjangcd = 'ZZ'
                   AND a.recedate BETWEEN #{stdate} AND #{enddate}
                   AND  Case when isnull(a.compdate,'') = '' then '1' else '2' end like #{comp} ]]>
    </select>

</mapper>
