<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.Elvlrt.App10ElvlrtMapper">
<!--      고장내용별현황 / 기간별 고장내용  -->
    <select id="GetApp10List001"  parameterType="com.actas.ems.DTO.Elvlrt.App10ElvlrtDto" resultType="com.actas.ems.DTO.Elvlrt.App10ElvlrtDto">
        <![CDATA[SELECT a.custcd,
                        a.spjangcd,
                        a.recedate,
                        a.recenum,
                        a.cltcd,
                        a.actcd,
                        b.actnm,
                        b.perid as actperid,
                        e.pernm as actpernm,
                        a.equpcd,
                        c.equpnm,
                        a.contcd,
                        d.contnm,
                        a.contents,
                        a.recetime,
                        a.perid,
                        e.pernm,
                        a.divicd,
                        f.divinm
                 FROM tb_e401 a WITH(NOLOCK)
                     LEFT OUTER JOIN TB_E601 b WITh(NOLOCK) ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.actcd = b.actcd)
                     LEFT OUTER JOIN TB_E611 c WITh(NOLOCK) ON (a.custcd = c.custcd AND a.spjangcd = c.spjangcd AND a.actcd = c.actcd AND  a.equpcd = c.equpcd)
                     LEFT OUTER JOIN TB_E010 d WITh(NOLOCK) ON (a.custcd = d.custcd AND a.spjangcd = d.spjangcd AND a.contcd = d.contcd)
                     LEFT OUTER JOIN TB_JA001 e WITh(NOLOCK) ON (a.custcd = e.custcd AND a.spjangcd = e.spjangcd AND a.perid = e.perid)
                     LEFT OUTER JOIN TB_JC002 f WITh(NOLOCK) ON (a.custcd = f.custcd AND a.spjangcd = f.spjangcd AND a.divicd = f.divicd)
                 WHERE
                     a.spjangcd = #{spjangcd}
                   AND a.resultck like CONCAT('%',#{changeop},'%')
                   AND a.recedate BETWEEN #{frdate} AND #{todate}
        ]]>
    </select>


<!--    //////////////////////////////수정중-->

    <!--게시글 작성-->
    <insert id="Insert10anul" parameterType="com.actas.ems.DTO.Elvlrt.App10ElvlrtDto">
        insert into tb_e411 (compnum, actpernm, pernm, arrivdate, actcompdate, actarrivtime, actcomptime, remoremark, resuremark, remark) values (#{compnum}, #{actpernm}, #{pernm}, #{arrivdate}, #{actcompdate}, #{actcomptime}, #{remoremark}, #{resuremark}, #{remark})
</insert>


    <!--게시글 수정-->
<!--    <update id="Update10Manul" parameterType="com.actas.ems.DTO.Elvlrt.App09ElvlrtDto">-->
<!--        update tb_e401-->
<!--        set custcd = #{custcd}-->
<!--        <if test="compnum != null ">,</if>-->
<!--        <if test="compnum != null">compnum=#{compnum}</if>-->
<!--        where compnum = #{compnum}-->
<!--    </update>-->

    <!-- seq set, 6개 포맷으로 가져온다는 뜻임-->
    <select id="get10ManualMaxSeq" parameterType="string" resultType="java.lang.String">
        select max(compnum) from tb_e411 where Left(compnum,6) = #{compnum}
    </select>

</mapper>
