<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.Elvlrt.App27ElvlrtMapper">


    <!--기간별-->
    <select id="GetApp27List001" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App16ElvlrtDto">

        SELECT left(a.compdate, 4) as compyear,
            a.actnm as actnm,
            a.equpnm as equpnm,
            a.greginm as greginm,
            a.gregicd as gregicd,
            a.reginm as reginm,
            SUM(CONVERT(int, a.result)) as result,
            sum(mon01) as mon01,
            sum(mon02) as mon02,
            sum(mon03) as mon03,
            sum(mon04) as mon04,
            sum(mon05) as mon05,
            sum(mon06) as mon06,
            sum(mon07) as mon07,
            sum(mon08) as mon08,
            sum(mon09) as mon09,
            sum(mon10) as mon10,
            sum(mon11) as mon11,
            sum(mon12) as mon12
        FROM (SELECT a.custcd,
            a.spjangcd,
            a.actcd,
            a.cltcd,
            q.actnm,
            a.compdate,
            a.gregicd,
            v.greginm,
            a.regicd,
            k.reginm,
            a.equpnm,
            a.equpcd,
            sum(convert(int, a.result)) as result,

            (CASE WHEN substring(a.compdate, 5, 2)= '01' THEN count(a.compdate) ELSE 0 END) as mon01,
            (CASE WHEN substring(a.compdate, 5, 2)= '02' THEN count(a.compdate) ELSE 0 END) as mon02,
            (CASE WHEN substring(a.compdate, 5, 2)= '03' THEN count(a.compdate) ELSE 0 END) as mon03,
            (CASE WHEN substring(a.compdate, 5, 2)= '04' THEN count(a.compdate) ELSE 0 END) as mon04,
            (CASE WHEN substring(a.compdate, 5, 2)= '05' THEN count(a.compdate) ELSE 0 END) as mon05,
            (CASE WHEN substring(a.compdate, 5, 2)= '06' THEN count(a.compdate) ELSE 0 END) as mon06,
            (CASE WHEN substring(a.compdate, 5, 2)= '07' THEN count(a.compdate) ELSE 0 END) as mon07,
            (CASE WHEN substring(a.compdate, 5, 2)= '08' THEN count(a.compdate) ELSE 0 END) as mon08,
            (CASE WHEN substring(a.compdate, 5, 2)= '09' THEN count(a.compdate) ELSE 0 END) as mon09,
            (CASE WHEN substring(a.compdate, 5, 2)= '10' THEN count(a.compdate) ELSE 0 END) as mon10,
            (CASE WHEN substring(a.compdate, 5, 2)= '11' THEN count(a.compdate) ELSE 0 END) as mon11,
            (CASE WHEN substring(a.compdate, 5, 2)= '12' THEN count(a.compdate) ELSE 0 END) as mon12
            FROM tb_e411 a WITH(NOLOCK)
            LEFT OUTER JOIN TB_E601 q WITH(NOLOCK) ON (a.custcd = q.custcd AND a.spjangcd = q.spjangcd AND a.actcd = q.actcd)
            LEFT OUTER JOIN tb_e013 v WITH(NOLOCK) ON (a.custcd = v.custcd AND a.spjangcd = v.spjangcd AND a.gregicd = v.gregicd)
            LEFT OUTER JOIN tb_e014 k WITH(NOLOCK) ON (a.custcd = k.custcd AND a.spjangcd = k.spjangcd AND a.gregicd = k.gregicd AND a.regicd = k.regicd)
            WHERE left(a.compdate, 6) between #{frdate} and #{todate}
            GROUP BY a.custcd, a.spjangcd, a.actcd, a.cltcd,  a.compdate,  a.gregicd, a.regicd, q.actnm, v.greginm, k.reginm, a.equpcd, a.equpnm) a
        WHERE (a.gregicd like concat('%',#{gregicd},'%'))
          AND (a.equpcd like concat('%',#{equpcd},'%'))
          AND (a.actcd = #{actcd} OR #{actcd} = '%')
        GROUP BY a.custcd, a.spjangcd,left(a.compdate, 4), a.cltcd, a.actcd, a.actnm, a.greginm, a.reginm, a.equpnm, a.equpcd, a.gregicd


    </select>

    <select id="GetApp27List002" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App16ElvlrtDto">
        SELECT left(a.compdate, 4) as compyear,
            a.actnm as actnm,
            a.equpnm as equpnm,
            a.contnm as contnm,
            a.contents as contents,
            SUM(CONVERT(int, a.result)) as result,
            sum(mon01) as mon01,
            sum(mon02) as mon02,
            sum(mon03) as mon03,
            sum(mon04) as mon04,
            sum(mon05) as mon05,
            sum(mon06) as mon06,
            sum(mon07) as mon07,
            sum(mon08) as mon08,
            sum(mon09) as mon09,
            sum(mon10) as mon10,
            sum(mon11) as mon11,
            sum(mon12) as mon12
        FROM (SELECT a.custcd,
            a.spjangcd,
            a.cltcd,
            a.actcd,
            q.actnm,
            a.compdate,
            b.contcd,
            p.contnm,
            cast( b.contents as varchar) as contents,
            a.equpcd,
            a.equpnm,
            sum(convert(int, a.result)) as result,

            (CASE WHEN substring(compdate, 5, 2)= '01' THEN count(compdate) ELSE 0 END) as mon01,
            (CASE WHEN substring(compdate, 5, 2)= '02' THEN count(compdate) ELSE 0 END) as mon02,
            (CASE WHEN substring(compdate, 5, 2)= '03' THEN count(compdate) ELSE 0 END) as mon03,
            (CASE WHEN substring(compdate, 5, 2)= '04' THEN count(compdate) ELSE 0 END) as mon04,
            (CASE WHEN substring(compdate, 5, 2)= '05' THEN count(compdate) ELSE 0 END) as mon05,
            (CASE WHEN substring(compdate, 5, 2)= '06' THEN count(compdate) ELSE 0 END) as mon06,
            (CASE WHEN substring(compdate, 5, 2)= '07' THEN count(compdate) ELSE 0 END) as mon07,
            (CASE WHEN substring(compdate, 5, 2)= '08' THEN count(compdate) ELSE 0 END) as mon08,
            (CASE WHEN substring(compdate, 5, 2)= '09' THEN count(compdate) ELSE 0 END) as mon09,
            (CASE WHEN substring(compdate, 5, 2)= '10' THEN count(compdate) ELSE 0 END) as mon10,
            (CASE WHEN substring(compdate, 5, 2)= '11' THEN count(compdate) ELSE 0 END) as mon11,
            (CASE WHEN substring(compdate, 5, 2)= '12' THEN count(compdate) ELSE 0 END) as mon12
            FROM tb_e411 a WITH(NOLOCK)
            LEFT OUTER JOIN TB_E601 q WITH(NOLOCK) ON (a.custcd = q.custcd AND a.spjangcd = q.spjangcd AND a.actcd = q.actcd),
            tb_e401 b WITH(NOLOCK)
            LEFT OUTER JOIN tb_e010 p WITH(NOLOCK) ON (b.custcd = p.custcd AND b.spjangcd = p.spjangcd AND b.contcd = p.contcd)
            WHERE a.custcd = b.custcd
            AND a.spjangcd = b.spjangcd
            AND a.recedate = b.recedate
            AND a.recenum = b.recenum
            AND left(a.compdate, 6) between #{frdate} AND #{todate}
            GROUP BY a.custcd, a.spjangcd, a.cltcd, a.actcd, a.compdate, b.contcd, q.actnm, p.contnm, a.equpcd, a.equpnm, cast( b.contents as varchar)) a
        WHERE  (a.actcd = #{actcd} OR #{actcd} = '%')
          AND (a.contcd = #{contcd} OR #{contcd} = '%')
          AND a.equpcd like concat('%',#{equpcd},'%')
        GROUP BY a.custcd, a.spjangcd, left(a.compdate, 4), a.cltcd, a.actnm, a.contnm, a.equpnm, a.contents
    </select>

    <select id="GetApp27List003" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App16ElvlrtDto">
        SELECT left(a.compdate, 4) as compyear,
            a.actnm as actnm,
            a.equpnm as equpnm,
            a.remonm as remonm,
            SUM(CONVERT(int, a.result)) as result,
            sum(mon01) as mon01,
            sum(mon02) as mon02,
            sum(mon03) as mon03,
            sum(mon04) as mon04,
            sum(mon05) as mon05,
            sum(mon06) as mon06,
            sum(mon07) as mon07,
            sum(mon08) as mon08,
            sum(mon09) as mon09,
            sum(mon10) as mon10,
            sum(mon11) as mon11,
            sum(mon12) as mon12
        FROM (SELECT a.custcd,
            a.spjangcd,
            a.actcd,
            a.cltcd,
            q.actnm,
            a.compdate,
            a.remocd,
            r.remonm,
            a.equpcd,
            a.equpnm,
            sum(convert(int, a.result)) as result,
            (CASE WHEN substring(a.compdate, 5, 2)= '01' THEN count(a.compdate) ELSE 0 END) as mon01,
            (CASE WHEN substring(a.compdate, 5, 2)= '02' THEN count(a.compdate) ELSE 0 END) as mon02,
            (CASE WHEN substring(a.compdate, 5, 2)= '03' THEN count(a.compdate) ELSE 0 END) as mon03,
            (CASE WHEN substring(a.compdate, 5, 2)= '04' THEN count(a.compdate) ELSE 0 END) as mon04,
            (CASE WHEN substring(a.compdate, 5, 2)= '05' THEN count(a.compdate) ELSE 0 END) as mon05,
            (CASE WHEN substring(a.compdate, 5, 2)= '06' THEN count(a.compdate) ELSE 0 END) as mon06,
            (CASE WHEN substring(a.compdate, 5, 2)= '07' THEN count(a.compdate) ELSE 0 END) as mon07,
            (CASE WHEN substring(a.compdate, 5, 2)= '08' THEN count(a.compdate) ELSE 0 END) as mon08,
            (CASE WHEN substring(a.compdate, 5, 2)= '09' THEN count(a.compdate) ELSE 0 END) as mon09,
            (CASE WHEN substring(a.compdate, 5, 2)= '10' THEN count(a.compdate) ELSE 0 END) as mon10,
            (CASE WHEN substring(a.compdate, 5, 2)= '11' THEN count(a.compdate) ELSE 0 END) as mon11,
            (CASE WHEN substring(a.compdate, 5, 2)= '12' THEN count(a.compdate) ELSE 0 END) as mon12
            FROM tb_e411 a WITH(NOLOCK)
            LEFT OUTER JOIN TB_E601 q WITH(NOLOCK) ON (a.custcd = q.custcd AND a.spjangcd = q.spjangcd AND a.actcd = q.actcd)
            LEFT OUTER JOIN tb_e011 r WITH(NOLOCK) ON (a.custcd = r.custcd AND a.spjangcd = r.spjangcd AND a.remocd = r.remocd)
            WHERE left(a.compdate, 6) between #{frdate} AND #{todate}
            GROUP BY a.custcd, a.spjangcd, a.actcd, a.cltcd, a.compdate, a.remocd, q.actnm, r.remonm, a.equpnm, a.equpcd) a
        WHERE  (a.actcd = #{actcd} OR #{actcd} = '%')
          AND (a.remocd = #{remocd} OR #{remocd} = '%')
          AND a.equpcd like concat('%',#{equpcd},'%')
        GROUP BY a.custcd, a.spjangcd, left(a.compdate, 4), a.cltcd, a.actcd, a.actnm, a.remocd, a.remonm, a.equpnm


    </select>
</mapper>
