<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.Elvlrt.App26ElvlrtMapper">

    <!--      호기별 고장현황  -->
    <select id="GetApp26List001"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App26ElvlrtDto">
        <![CDATA[
                SELECT a.custcd,
			a.spjangcd,
			a.actcd as actcd1,
         a.actcd,
         a.actnm,
			b.contg,
         a.cltcd,
         a.actperid,
         a.actpernm,
         a.actrespon,
         a.tel,
         a.hp,
         a.fax,
         a.actmail,
         a.stdate,
         a.enddate,
         a.gigan,
         a.zipcode,
         a.address,
         a.address2,
         a.remark,
		a.emactcd,
         a.qty,
         a.perid,
		(select pernm from tb_ja001 where spjangcd = a.spjangcd and perid = 'p' + a.perid)  as pernm,
         a.pperid,
		(select pernm from tb_ja001 where spjangcd = a.spjangcd and perid = 'p' + a.pperid) as ppernm,
         a.inperid,
         a.indate,
         a.gubun,
         a.bildyd,
         a.bildlv,
         a.bildju,
         a.bilddate,
			a.gareacd,
			a.areacd,
			a.areacd AS areanm,
			a.wkactcd,
			a.wkactcd AS wkactnm,
			a.pubcltcd,
			c.prtcltnm as pubcltnm,
			a.pubpernm,
			c.zipcd as pubzipcd,
			c.cltadres as pubaddress,
			c.prenm,
			c.saupnum,
			a.pubaddress2,
			a.ancltcd,
			a.ancltnm,
			a.anpernm,
			a.anzipcd,
			a.anaddress,
			a.anaddress2,
			e.divicd,
			f.divinm,
			a.special,
			a.cltnum,
		     b.contdate,
			a.taxmailyn,
			a.giromisuyn,
			b.contgubun,
			b.contamt,
			b.jirogubun,
			b.stdate ,
			b.enddate ,
			b.freefrdate ,
			b.freetodate ,
			b.deljugi,
			b.taxchk ,
			b.dedate ,
			b.bigo,
			b.addyn,
			b.contyul,
			b.taxgubun,
			b.cmsflag,
			b.ungijun,
			b.billgubun,
			b.mgubun,
			a.etccltcd,
			(select cltnm from tb_xclient where custcd=a.custcd and cltcd=a.etccltcd) as etccltnm,
		 	a.etcmail,
			a.etcpernm,
			a.actgubun,
			a.sedae,
			c.prenum,
			'0' as newrow
    FROM TB_E601 a WITH(NOLOCK)
    LEFT OUTER JOIN (SELECT   a.custcd,
 								    a.spjangcd,
								    a.actcd,
								    a.contg,
									a.contdate,
								 	 a.gubun as contgubun,
									a.amt as contamt,
									a.jirogubun as jirogubun,
									a.stdate as stdate,
									a.enddate as enddate,
									a.freefrdate as freefrdate,
									a.freetodate as freetodate,
									a.deljugi as deljugi,
									a.taxchk as taxchk,
									a.dedate as dedate,
									a.bigo   as bigo,
									a.addyn as addyn,
									a.contyul as contyul,
									a.taxgubun as taxgubun,
									a.cmsflag as cmsflag,
									a.ungijun as ungijun  ,
									a.billgubun as billgubun,
									a.mgubun	as mgubun
					  		  FROM tb_e101 a WITH(NOLOCK), (SELECT custcd,
																		 	   spjangcd,
																			   actcd,
																			   max(contdate) as contdate
																	    FROM tb_e101 WITH(NOLOCK)
											  						   GROUP BY custcd, spjangcd, actcd) b
						    WHERE a.custcd = b.custcd
                        AND a.spjangcd = b.spjangcd
                        AND a.actcd = b.actcd
							 	AND a.contdate = b.contdate) b
     ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.actcd = b.actcd)
	 LEFT OUTER JOIN TB_XCLIENT c WITH(NOLOCK) ON (a.custcd = c.custcd AND a.cltcd = c.cltcd)
	 LEFT OUTER JOIN TB_JA001 e WITH(NOLOCK) ON (a.custcd = e.custcd AND a.spjangcd = e.spjangcd AND a.perid = substring(e.perid, 2, 10))
	 LEFT OUTER JOIN TB_JC002 f WITH(NOLOCK) ON (a.custcd = f.custcd AND a.spjangcd = f.spjangcd AND e.divicd = f.divicd)
  WHERE ((a.actcd like '%' + :as_cltcd + '%' OR :as_cltcd = '%')
     OR (a.cltcd like '%' + :as_cltcd + '%' OR :as_cltcd = '%'))
    AND (a.areacd = :as_areacd OR :as_areacd = '%')
	AND (a.wkactcd = :as_wkactcd OR :as_wkactcd = '%')
    AND (Case when b.contg in ('01', '02', '03')THEN '1' when b.contg = '04' then '2' else '3' end = :as_gubun OR :as_gubun = '%')
    AND (a.cltnum = :as_cltnum OR :as_cltnum = '%')
    AND (a.perid = :as_perid OR :as_perid = '%')
    AND (a.actgubun = :as_actgubun OR :as_actgubun = '%')
    AND (f.divinm like :as_divinm + '%' OR :as_divinm = '%' OR f.divinm is null)

        ]]>
    </select>


</mapper>
