<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.Elvlrt.AppE038ElvlrtMapper">

    <select id="GetE038List"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.AppE038ElvlrtDto">
        SELECT A.custcd,
        A.spjangcd,
        A.rptdate,
        A.perid,
        ISNULL(r.pernm, j.pernm) as pernm,
        A.rptnum,
        A.cltcd,
        a.actcd,
        a.actnm,
        a.equpcd,
        m.equpnm,
        a.carcd,
        r.carnum,
        r.model,
        A.wkcd,
        t.businm AS wktext,
        A.frtime,
        A.totime,
        isnull(A.km,0) as km ,
        A.remark,
        A.startkm,
        A.endkm,
        convert(numeric, dbo.df_nm_rtn1('tb_e037_km', a.custcd, a.perid, a.rptdate, '')) as monkm,
        convert(numeric, dbo.df_nm_rtn1('tb_e411_daycount', a.custcd, a.perid, a.rptdate, '')) as daycount,
        convert(numeric, dbo.df_nm_rtn1('tb_e411_moncount', a.custcd, a.perid, a.rptdate, '')) as compcount
        FROM TB_E038 A WITH(NOLOCK)
        LEFT OUTER JOIN TB_E611 m WITH(NOLOCK) ON (a.custcd = m.custcd AND a.spjangcd = m.spjangcd AND a.actcd = m.actcd AND a.equpcd = m.equpcd)
        LEFT OUTER JOIN tb_e047 r WITH(NOLOCK) ON (a.custcd = r.custcd AND a.spjangcd = r.spjangcd AND a.carcd = r.carcd)
        INNER JOIN TB_JA001 j WITH(NOLOCK) ON (a.custcd = j.custcd AND a.spjangcd = j.spjangcd AND a.perid = substring(j.perid, CHARINDEX('p', j.perid)+1, LEN(j.perid)))
        LEFT OUTER JOIN tb_e021 t WITH(NOLOCK) ON (a.custcd = t.custcd AND a.spjangcd = t.spjangcd AND a.wkcd = t.busicd)
        WHERE A.custcd = #{custcd}
        AND A.spjangcd = #{spjangcd}
        AND A.rptdate like concat('%',#{rptdate},'%')
        AND A.perid like concat('%',#{perid},'%')
        order by a.rptdate desc

    </select>

    <insert id="InsertE038" parameterType="com.actas.ems.DTO.Popup.PopupDto">
        insert into TB_E038 (rptdate, custcd, spjangcd, rptnum, actcd, equpcd, carcd, frtime, totime, remark, perid)values
        (#{rptdate}, #{custcd}, #{spjangcd}, #{rptnum}, #{actcd}, #{equpcd}, #{carcd}, #{frtime}, #{totime}, #{remark}, #{perid})

    </insert>

    <update id="UpdateE038" parameterType="com.actas.ems.DTO.Elvlrt.AppE038ElvlrtDto">
        Update TB_E038 set
        custcd = #{custcd}
        <if test="rptdate != null ">,</if>
        <if test="rptdate != null ">rptdate = #{rptdate}</if>
        <if test="actcd != null ">,</if>
        <if test="actcd != null ">actcd = #{actcd}</if>
        <if test="equpcd != null ">,</if>
        <if test="equpcd != null ">equpcd = #{equpcd}</if>
        <if test="carcd != null ">,</if>
        <if test="carcd != null ">carcd = #{carcd}</if>
        <if test="frtime != null ">,</if>
        <if test="frtime != null ">frtime = #{frtime}</if>
        <if test="totime != null ">,</if>
        <if test="totime != null ">totime = #{totime}</if>
        <if test="remark != null ">,</if>
        <if test="remark != null ">remark = #{remark}</if>
        where
        rptdate = #{rptdate} and custcd = #{custcd} and spjangcd = #{spjangcd} and
        actcd = #{actcd} and equpcd = #{equpcd} and carcd = #{carcd}
    </update>
    <delete id="DeleteE038" parameterType="com.actas.ems.DTO.Elvlrt.AppE038ElvlrtDto">
        delete from tb_e038 where rptdate = #{rptdate} and perid = #{perid} and actcd = #{actcd} and equpcd = #{equpcd} and carcd = #{carcd}
    </delete>

    <select id="GetActList"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.AppE038ElvlrtDto">
        select * from tb_e601 where actnm like concat('%',#{actnm},'%')
    </select>

    <select id="GetEqupList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.AppE038ElvlrtDto">
        select a.cltcd, (select actnm from tb_e601 where actcd = a.actcd) as actnm, a.actcd, a.equpcd, a.equpnm from tb_e611 a where a.actcd = #{actcd}
    </select>

    <select id="GetCarList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.AppE038ElvlrtDto">
        select * from tb_e047 where carnum like concat('%',#{carnum},'%')
    </select>

    <select id="getE038MaxSeq"  parameterType="string" resultType="java.lang.String">
        select max(rptnum) from TB_E038  where Left(rptnum,6) = #{rptnum}
    </select>

</mapper>
