<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.Elvlrt.App10ElvlrtMobMapper">
<!--      조회  -->
    <select id="GetAppMobList001"  parameterType="com.actas.ems.DTO.Elvlrt.App10ElvlrtDto" resultType="com.actas.ems.DTO.Elvlrt.AppMob001tDto">
        <![CDATA[sELECT
                     Left(a.recedate,4) + '-' + substring(a.recedate, 5,2)+ '-' + substring(a.recedate, 7,2)  as recedate,
                     isnull(a.recenum, '' ) as recenum,
                     isnull(a.actcd, '' ) as actcd,
                     isnull(b.actnm, '' ) as actnm,
                     isnull(e.pernm, '' ) as actpernm,
                     isnull(a.equpcd, '' ) as equpcd,
                     isnull(c.equpnm, '' ) as equpnm,
                     isnull(a.contcd, '' ) as contcd,
                     isnull(d.contnm, '' ) as contnm,
                     isnull(a.contents, '' ) as contents,
                     Left(a.recetime,2) + ':' + substring(a.recetime, 3,2) as recetime,
                     isnull(e.pernm, '' ) as pernm
                 FROM tb_e401 a WITH(NOLOCK)
                     LEFT OUTER JOIN TB_E601 b WITh(NOLOCK) ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.actcd = b.actcd)
                     LEFT OUTER JOIN TB_E611 c WITh(NOLOCK) ON (a.custcd = c.custcd AND a.spjangcd = c.spjangcd AND a.actcd = c.actcd AND  a.equpcd = c.equpcd)
                     LEFT OUTER JOIN TB_E010 d WITh(NOLOCK) ON (a.custcd = d.custcd AND a.spjangcd = d.spjangcd AND a.contcd = d.contcd)
                     LEFT OUTER JOIN TB_JA001 e WITh(NOLOCK) ON (a.custcd = e.custcd AND a.spjangcd = e.spjangcd AND 'p' + b.perid = e.perid)
                     LEFT OUTER JOIN TB_JC002 f WITh(NOLOCK) ON (a.custcd = f.custcd AND a.spjangcd = f.spjangcd AND a.divicd = f.divicd)
                     LEFT OUTER JOIN tb_e411 g WITH(NOLOCK) ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.recedate = g.recedate AND a.recenum = g.recenum)
                     LEFT OUTER JOIN tb_e012 h WITH(NOLOCK) ON (b.custcd = g.custcd AND b.spjangcd = h.spjangcd AND g.resucd = h.resucd)
                     LEFT OUTER JOIN tb_e011 i WITH(NOLOCK) ON (b.custcd = i.custcd AND b.spjangcd = i.spjangcd AND g.remocd = i.remocd)
                     LEFT OUTER JOIN tb_e019 j WITH(NOLOCK) ON (b.custcd = j.custcd AND b.spjangcd = j.spjangcd AND g.faccd = j.faccd)
                     LEFT OUTER JOIN tb_e013 k WITH(NOLOCK) ON (b.custcd = k.custcd AND b.spjangcd = k.spjangcd AND g.gregicd = k.gregicd)
                     LEFT OUTER JOIN tb_e014 l WITH(NOLOCK) ON (b.custcd = l.custcd AND b.spjangcd = l.spjangcd AND g.gregicd = l.gregicd AND g.regicd = l.regicd  )
                     LEFT OUTER JOIN tb_e015 m WITH(NOLOCK) ON (b.custcd = m.custcd AND b.spjangcd = m.spjangcd AND g.resultcd = m.resultcd)
                 WHERE
                     a.spjangcd = #{spjangcd}
                   AND a.resultck like CONCAT('%',#{changeop},'%')
                   AND a.recedate BETWEEN #{frdate} AND #{todate}
        ]]>
    </select>

    <select id="GetApp06MobList001"  parameterType="com.actas.ems.DTO.Elvlrt.App06ElvlrtDto" resultType="com.actas.ems.DTO.Elvlrt.AppMob003tDto">
        select
                      isnull(hseq, '' ) as hseq,
                      Left(hinputdate,4) + '-' + substring(hinputdate, 5,2)+ '-' + substring(hinputdate, 7,2)  as hinputdate,
                      Case when  hgroupcd = '' then ''
                           when hgroupcd = '01' then '사내공지'
                           when hgroupcd = '02' then '고객공지'
                           else hgroupcd
                          end as hgroupcd,
                      isnull(hsubject, '' ) as hsubject,
                      isnull(hpernm, '' ) as hpernm,
                      isnull(hmemo, '' ) as hmemo,
                    ( select isnull(Count(*),'') from tb_mattach where flag='MH' and board_idx=hseq and delete_yn = 'N') as attcnt,
                      Case when hflag = 'Y' then 'MH'
                       end as hflag
            from tb_mhmanual WITH (NOLOCK)
                  Where spjangcd = #{spjangcd}
                        and custcd = #{custcd}
                    order by hinputdate  DESC , hseq ASC

    </select>

    <select id="select06AttachList" parameterType="com.actas.ems.DTO.AttachDTO" resultType="com.actas.ems.DTO.AttachDTO">
        SELECT idx,
            board_idx as boardIdx
             , original_name as originalName
             , save_name as saveName
             , size
             , flag
             , delete_yn as deleteyn
             , insert_time as inserttime
             , delete_time as deletetime
        FROM
            tb_mattach with (nolock)
        WHERE
            delete_yn = 'N'
          AND board_idx = #{boardIdx}
          and flag  = #{flag}
    </select>

    <select id="select08AttachList" parameterType="com.actas.ems.DTO.AttachDTO" resultType="com.actas.ems.DTO.AttachDTO">
        SELECT idx,
            board_idx as boardIdx
             , original_name as originalName
             , save_name as saveName
             , size
             , flag
             , delete_yn as deleteyn
             , insert_time as inserttime
             , delete_time as deletetime
        FROM
            TB_MATTACH_MF with (nolock)
        WHERE
            delete_yn = 'N'
          AND board_idx = #{boardIdx}
          and flag  = #{flag}
    </select>

    <select id="GetApp0bMobList001"  parameterType="com.actas.ems.DTO.Elvlrt.App08_mbmanual" resultType="com.actas.ems.DTO.Elvlrt.AppMob004tDto">
        select
            isnull(bseq, '' ) as bseq,
            Left(binputdate,4) + '-' + substring(binputdate, 5,2)+ '-' + substring(binputdate, 7,2)  as binputdate,
            Case when bgourpcd = '' then ''
            when bgourpcd = '01' then '부품교체'
            when bgourpcd = '02' then '수리공사'
            when bgourpcd = '002' then '수리공사'
            when bgourpcd = '03' then '인건비'
            when bgourpcd = '04' then '무상처리'
            else bgourpcd
        end as bgourpcd,

                     ( select isnull(Count(*),'') from TB_MATTACH_MF where flag='MB' and board_idx=bseq and delete_yn = 'N') as attcnt,
                      isnull(bsubject, '' ) as bsubject,
                      isnull(bpernm, '' ) as bpernm,
                      isnull(bmemo, '' ) as bmemo,
                      Case when bflag = 'Y' then 'MB'
                        end as bflag
                  from TB_MBMANUAL WITH (NOLOCK)
				  Where spjangcd = #{spjangcd}
        and custcd = #{custcd}
        order by binputdate DESC, bseq ASC
    </select>

<select id="GetApp28MobList001"  parameterType="com.actas.ems.DTO.Elvlrt.App28ElvlrtDto" resultType="com.actas.ems.DTO.Elvlrt.AppMob005tDto">-->
select
    sseq,
    Left(sinputdate,4) + '-' + substring(sinputdate, 5,2)+ '-' + substring(sinputdate, 7,2)  as sinputdate,
    spernm,
    smemo,
    isnull(sflag, '' ) as sflag,
    isnull(subkey, '' ) as subkey
    from tb_msmanual
    Where spjangcd = #{spjangcd}
      and custcd = #{custcd}
      and subkey = 0
     order by sseq desc
</select>

    <select id="GetApp28MobList002"  parameterType="com.actas.ems.DTO.Elvlrt.App28ElvlrtDto" resultType="com.actas.ems.DTO.Elvlrt.AppMob005tDto">-->
    select sseq, concat(substring(sinputdate, 0, 5), '-', substring(sinputdate, 5, 2), '-', substring(sinputdate, 7, 2)) as sinputdate, sgroupcd, ssubject, sfilename, spernm, smemo, sflag,
           subkey,
           (select Count(*) from tb_mattach where flag='MS' and board_idx=sseq and delete_yn = 'N') as attcnt
    from tb_msmanual WITH (NOLOCK)
    Where
        len(isnull(subkey,'')) > 4
    order by subkey desc
    </select>

    <select id="GetComm751List"  resultType="com.actas.ems.DTO.Elvlrt.AppMob003tDto">
        <![CDATA[
        SELECT  com_code AS code, com_cnam AS cnam
        FROM     dbo.tb_ca510 WITH (NOLOCK)
        WHERE  (com_cls = '751') AND (com_code <> '00')
        ]]>
    </select>
    <select id="GetAppMobList_002"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App16ElvlrtDto">
        <![CDATA[ sELECT top(50)
                    b.actnm as actnm,
                    d.contnm as contnm,
                    a.recedate as recedate,
                    a.contents as contents,
                    h.resunm as resunm,
                    k.greginm as greginm,
                    l.reginm as reginm,
                    i.remonm as remonm,
                    g.remoremark as remoremark,
                    g.resuremark as resuremark,
                    e.pernm as pernm,
                    CASE when g.compdate is null THEN Left(a.recedate,4) + '-' + substring(a.recedate, 5,2)+ '-' + substring(a.recedate, 7,2)
                    else Left(g.compdate,4) + '-' + substring(g.compdate, 5,2)+ '-' + substring(g.compdate, 7,2)
                    end as compdate
                    FROM tb_e401 a WITH(NOLOCK)
                     LEFT OUTER JOIN TB_E601 b WITh(NOLOCK) ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.actcd = b.actcd)
                     LEFT OUTER JOIN TB_E611 c WITh(NOLOCK) ON (a.custcd = c.custcd AND a.spjangcd = c.spjangcd AND a.actcd = c.actcd AND  a.equpcd = c.equpcd)
                     LEFT OUTER JOIN TB_E010 d WITh(NOLOCK) ON (a.custcd = d.custcd AND a.spjangcd = d.spjangcd AND a.contcd = d.contcd)
                     LEFT OUTER JOIN TB_JA001 e WITh(NOLOCK) ON (a.custcd = e.custcd AND a.spjangcd = e.spjangcd AND 'p' + b.perid = e.perid)
                     LEFT OUTER JOIN TB_JC002 f WITh(NOLOCK) ON (a.custcd = f.custcd AND a.spjangcd = f.spjangcd AND a.divicd = f.divicd)
                     LEFT OUTER JOIN tb_e411 g WITH(NOLOCK) ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.recedate = g.recedate AND a.recenum = g.recenum)
                     LEFT OUTER JOIN tb_e012 h WITH(NOLOCK) ON (b.custcd = g.custcd AND b.spjangcd = h.spjangcd AND g.resucd = h.resucd)
                     LEFT OUTER JOIN tb_e011 i WITH(NOLOCK) ON (b.custcd = i.custcd AND b.spjangcd = i.spjangcd AND g.remocd = i.remocd)
                     LEFT OUTER JOIN tb_e019 j WITH(NOLOCK) ON (b.custcd = j.custcd AND b.spjangcd = j.spjangcd AND g.faccd = j.faccd)
                     LEFT OUTER JOIN tb_e013 k WITH(NOLOCK) ON (b.custcd = k.custcd AND b.spjangcd = k.spjangcd AND g.gregicd = k.gregicd)
                     LEFT OUTER JOIN tb_e014 l WITH(NOLOCK) ON (b.custcd = l.custcd AND b.spjangcd = l.spjangcd AND g.gregicd = l.gregicd AND g.regicd = l.regicd  )
                     LEFT OUTER JOIN tb_e015 m WITH(NOLOCK) ON (b.custcd = m.custcd AND b.spjangcd = m.spjangcd AND g.resultcd = m.resultcd)
                 WHERE

                     a.spjangcd = #{spjangcd}
    AND a.resultck like CONCAT('%','1','%')
    AND a.actnm like CONCAT('%',#{actnm},'%')
    AND d.contnm like CONCAT('%',#{contnm},'%')
    AND k.greginm like CONCAT('%',#{greginm},'%')
    AND i.remonm like CONCAT('%',#{remonm},'%')
    AND a.recedate BETWEEN #{frdate} AND #{todate}
        ]]>
    </select>

    <select id="GetAppMobList_003"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App14ElvlrtDto">
        <![CDATA[ SELECT
                      Z.pernm as pernm,
                      Z.divinm as divinm,
                      Z.rspnm as rspnm,
                      Z.handphone as handphone

                  FROM
                      (
                          SELECT  A.perid,
                                  A.pernm 	 ,
                                  C.divinm	 ,
                                  D.rspnm  ,
                                  A.tel		,
                                  A.handphone,
                                  A.entdate ,
                                  DATEDIFF(year, A.ENTDATE, GETDATE()) AS DAYTERM,
                                  case len(SUBSTRING(A.RNUM,1,6))  when 6  then DATEDIFF(YEAR,   SUBSTRING(A.RNUM,1,6), GETDATE()) + 1
                                                                   else 	0 end AS AGEGAP,
                                  (select blood from tb_pa102 where custcd=A.custcd and spjangcd=A.spjangcd and perid=A.perid ) as blood,
                                  A.mrgyn	,
                                  A.fami60,
                                  (select top 1  schnm from tb_pa101 where custcd=A.custcd and spjangcd=A.spjangcd and perid=A.perid order by schcd desc ) as schnm,
                                  (select top 1  igrad   from tb_pa101 where custcd=A.custcd and spjangcd=A.spjangcd and perid=A.perid order by schcd desc )   as igrad,
                                  (select top 1  majo   from tb_pa101 where custcd=A.custcd and spjangcd=A.spjangcd and perid=A.perid order by schcd desc )   as majo,
                                  (select carm from tb_pa102 where custcd=A.custcd and spjangcd=A.spjangcd and perid=A.perid ) as carm,
                                  (select grad from tb_pa102 where custcd=A.custcd and spjangcd=A.spjangcd and perid=A.perid ) as grad,
                                  (select army from tb_pa102 where custcd=A.custcd and spjangcd=A.spjangcd and perid=A.perid ) as army,
                                  A.disperyn,
                                  A.email,
                                  A.zipadres,
                                  A.adres,
                                  C.divicd,
                                  A.mpclafi,
                                  A.rtclafi,
                                  A.perclasifi,
                                  A.rspcd

                          FROM TB_JA001 A,
                               TB_XA012 B,
                               TB_JC002 C,
                               TB_PZ001 D
                          WHERE (A.custcd   = B.custcd   )
                            AND (A.spjangcd = B.spjangcd )
                            AND (A.custcd   = C.custcd   )
                            AND (A.spjangcd   = C.spjangcd   )
                            AND (A.divicd   = C.divicd   )
                            AND (A.custcd   = D.custcd   )
                            AND (A.spjangcd = D.spjangcd )
                            AND (A.rspcd    = D.rspcd    )
                            AND C.divinm like CONCAT('%',#{divinm},'%')
                            AND a.pernm like CONCAT('%',#{pernm},'%')
                            AND a.rtclafi like CONCAT('%','001','%')

                      ) Z
        ]]>
    </select>

    <!--박광열, 보수현장정보-->
    <select id="GetAppMobListr_004"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App26ElvlrtDto">
        <![CDATA[
        select top 100
            CASE WHEN ISNULL(b.elno,'') = ''
		THEN '미기입'
		ELSE b.elno
        END elno,
					b.equpnm as equpnm,
					a.actnm as actnm,
					isnull(a.address, '') + isnull(a.address2, '') as actaddr ,
					isnull(a.tel, '') as tel,
					isnull(a.hp, '') as hp,
                    isnull((select pernm from tb_ja001 where spjangcd=a.spjangcd and perid='p'+a.perid), '') as pernm ,
                    isnull((select top 1 isnull(emtelnum, '') from tb_e611 where spjangcd=a.spjangcd and actcd=a.actcd order by emtelnum desc), '') as emtelnum
                    from
                    TB_E601 a with (NOLOCK)
                    left outer join TB_E611 b with (nolock)
					on a.actcd=b.actcd
					where a.actnm  like CONCAT('%',#{actnm},'%')

        ]]>
    </select>

    <!--박광열, 고장이력-->
    <select id="GetAppMobListr_005"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App16ElvlrtDto">
        <![CDATA[
        select top(100)
            CONVERT(int, a.recedate) as recedate,
                CASE when g.compdate is null THEN Left(a.recedate,4) + '-' + substring(a.recedate, 5,2)+ '-' + substring(a.recedate, 7,2)
            else Left(g.compdate,4) + '-' + substring(g.compdate, 5,2)+ '-' + substring(g.compdate, 7,2)
        end as compdate,
	   a.actnm as actnm,
	  CASE WHEN ISNULL(a.equpnm,'') = ''
		THEN '미기입'
		ELSE a.equpnm
        END equpnm,
	   a.hitchdate as hitchdate,
	   a.indate as indate,
	   CASE WHEN ISNULL(d.contnm,'') = ''
		THEN '미기입'
		ELSE d.contnm
        END contnm,
	   isnull(a.contents,'미기입') as contents,
	   isnull(k.greginm,'미기입') as greginm,
	   isnull(l.reginm, '미기입') as reginm,
	   isnull(i.remonm, '미기입')as remonm,
	   isnull(g.remoremark, '미기입') as remoremark,
	   isnull(h.resunm, '미기입') as resunm

from
TB_E401 a
LEFT OUTER JOIN TB_E010 d WITh(NOLOCK) ON (a.custcd = d.custcd AND a.spjangcd = d.spjangcd AND a.contcd = d.contcd)
LEFT OUTER JOIN TB_E601 b WITh(NOLOCK) ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.actcd = b.actcd)
LEFT OUTER JOIN tb_e411 g WITH(NOLOCK) ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.recedate = g.recedate AND a.recenum = g.recenum)
LEFT OUTER JOIN tb_e013 k WITH(NOLOCK) ON (b.custcd = k.custcd AND b.spjangcd = k.spjangcd AND g.gregicd = k.gregicd)
LEFT OUTER JOIN tb_e011 i WITH(NOLOCK) ON (b.custcd = i.custcd AND b.spjangcd = i.spjangcd AND g.remocd = i.remocd)
LEFT OUTER JOIN tb_e014 l WITH(NOLOCK) ON (b.custcd = l.custcd AND b.spjangcd = l.spjangcd AND g.gregicd = l.gregicd AND g.regicd = l.regicd  )
LEFT OUTER JOIN tb_e012 h WITH(NOLOCK) ON (b.custcd = g.custcd AND b.spjangcd = h.spjangcd AND g.resucd = h.resucd)
where a.actnm like CONCAT('%',#{actnm},'%')
and a.equpnm like CONCAT('%',#{equpnm},'%')
order by recedate desc;
        ]]>
    </select>

    <select id="GetAppMobList_004"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App04ElvlrtDto">
    select mseq, Left(minputdate,4) + '-' + substring(minputdate, 5,2) + '-' + substring(minputdate, 7,2) as minputdate, mgourpcd, msubject, mfilename, mpernm, memo, mflag, (select com_cnam from tb_ca510 where com_cls = '750' and com_code=mgourpcd) as cnam,
    (select Count(*) from tb_mattach where flag='MM' and board_idx=mseq and delete_yn = 'N') as attcnt
    from tb_mmanual WITH (NOLOCK)
    Where 1 = 1
    <if test="subject != null">
    and msubject like '%' + #{subject} + '%'
    </if>
    <if test="memo != null">
        and memo like '%' + #{memo} + '%'
    </if>
    <if test="groupcd != null">
        and mgourpcd like '%' + #{groupcd} + '%'
    </if>
    </select>

    <select id="GetAppMobList_e"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App04ElvlrtDto">
        select eseq, Left(einputdate,4) + '-' + substring(einputdate, 5,2) + '-' + substring(einputdate, 7,2) as einputdate , egroupcd, esubject, efilename, epernm, ememo, eflag, (select com_cnam from tb_ca510 where com_cls = '750' and com_code=egroupcd) as cnam,
        (select Count(*) from tb_mattach where flag='EE' and board_idx=eseq and delete_yn = 'N') as attcnt
        from tb_metcmanual WITH (NOLOCK)
        Where 1 = 1
        <!--        <if test="msubject != null">-->
        <!--            and msubject like '%' + #{msubject} + '%'-->
        <!--        </if>-->
        <!--        <if test="memo != null">-->
        <!--            and memo like '%' + #{memo} + '%'-->
        <!--        </if>-->
        <if test="subject != null">
            and esubject like '%' + #{subject} + '%'
        </if>
        <if test="memo != null">
            and ememo like '%' + #{memo} + '%'
        </if>
        <if test="groupcd != null">
            and egroupcd like '%' + #{groupcd} + '%'
        </if>
    </select>

    <select id="GetAppMobList_d"  parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Elvlrt.App04ElvlrtDto">
        select dseq, Left(dinputdate,4) + '-' + substring(dinputdate, 5,2) + '-' + substring(dinputdate, 7,2) as dinputdate , dgourpcd, dsubject, dfilename, dpernm, dmemo, dflag, (select com_cnam from tb_ca510 where com_cls = '750' and com_code=dgourpcd) as cnam,
        (select Count(*) from tb_mattach where flag='DD' and board_idx=dseq and delete_yn = 'N') as attcnt
        from tb_mdevmanual WITH (NOLOCK)
        Where 1 = 1
        <!--        <if test="msubject != null">-->
        <!--            and msubject like '%' + #{msubject} + '%'-->
        <!--        </if>-->
        <!--        <if test="memo != null">-->
        <!--            and memo like '%' + #{memo} + '%'-->
        <!--        </if>-->
        <if test="subject != null">
            and dsubject like '%' + #{subject} + '%'
        </if>
        <if test="memo != null">
            and dmemo like '%' + #{memo} + '%'
        </if>
        <if test="groupcd != null">
            and dgourpcd like '%' + #{groupcd} + '%'
        </if>
    </select>

    <select id="GetMobThumbList_001" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.AttachDTO">
        SELECT idx,
        board_idx as boardIdx
        , original_name as originalName
        , save_name as saveName
        , size
        , flag
        , delete_yn as deleteyn
        , insert_time as inserttime
        , delete_time as deletetime
        FROM
        tb_mattach with (nolock)
        WHERE
        delete_yn = 'N'
        AND board_idx = #{seq}
        and flag  = #{flag}
    </select>


</mapper>
