<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.ems.Mapper.Elvlrt.AppPopElvlrtMapper">
    <select id="GetActnmList"   parameterType="com.actas.ems.DTO.Popup.PopupDto"  resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.actcd    actcd  ,
               a.actnm    actnm,
               a.actpernm actpernm,
               a.tel      telno,
               a.hp       hpno,
               isnull(a.address,'') + ' ' + isnull(a.address2, '')  addr,
               cltnm  as cltnm
        FROM TB_E601 a WITH(NOLOCK)
           LEFT OUTER JOIN (SELECT distinct a.custcd, a.spjangcd, a.actcd, a.contg, dbo.df_nm_rtn('tb_xclient', a.custcd, a.cltcd, '', '') AS cltnm 
                                      FROM tb_e101 a WITH(NOLOCK), (select custcd, spjangcd, actcd, max(contdate) as contdate from tb_e101 WITH(NOLOCK)
                                      group by custcd, spjangcd, actcd) b 
                                   WHERE a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.actcd = b.actcd AND a.contdate = b.contdate) b
        ON (a.custcd = b.custcd AND a.spjangcd = b.spjangcd AND a.actcd = b.actcd)
        WHERE 1 = 1
          AND (   isnull(actnm , '') Like concat('%',#{actnm},'%') )
          AND  isnull(b.contg, '01') <> '04'

        ]]>
    </select>


    <select id="GetContnmList"   parameterType="com.actas.ems.DTO.Popup.PopupDto"  resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.contcd    contcd  ,
               a.contnm    contnm
        FROM TB_E010 a WITH(NOLOCK)
        WHERE 1 = 1
          AND (   isnull(contnm , '') Like concat('%',#{contnm},'%') )
          AND A.useyn = '1'
        order by a.contnm
        ]]>
    </select>

    <!-- 고장요인 -->
    <select id="GetRemonmList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.remocd    remocd  ,
               a.remonm    remonm
        FROM TB_E011 a WITH(NOLOCK)
        WHERE 1 = 1
          AND (   isnull(remonm , '') Like concat('%',#{remonm},'%') )
          AND A.useyn = '1'
        order by a.remonm
        ]]>
    </select>

    <!-- 처리내용 -->
    <select id="GetResunmList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.resucd    resucd  ,
               a.resunm    resunm
        FROM TB_E012 a WITH(NOLOCK)
        WHERE 1 = 1
          AND (   isnull(resunm , '') Like concat('%',#{resunm},'%') )
          AND A.useyn = '1'
        order by a.resunm
        ]]>
    </select>

    <!-- 고장부위 -->
    <select id="GetGreginmList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.gregicd    gregicd  ,
               a.greginm    greginm
        FROM TB_E013 a WITH(NOLOCK)
        WHERE 1 = 1
          AND (   isnull(greginm , '') Like concat('%',#{greginm},'%') )
          AND A.useyn = '1'
        order by a.greginm
        ]]>
    </select>

    <!-- 고장부위상세 -->
    <select id="GetReginmList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.regicd    regicd  ,
               a.reginm    reginm,
               b.gregicd
        FROM TB_E014 a WITH(NOLOCK)
        LEFT OUTER JOIN tb_e013 b WITH(NOLOCK) ON (a.gregicd = b.gregicd)
        WHERE 1 = 1
          AND (isnull(b.gregicd , '') = #{gregicd})
          AND (   isnull(reginm , '') Like concat('%',#{reginm},'%') )
        order by a.reginm

        ]]>
    </select>

    <!-- 처리결과 -->
    <select id="GetResultnmList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.resultcd    resultcd  ,
               a.resultnm    resultnm
        FROM TB_E015 a WITH(NOLOCK)
        WHERE 1 = 1
          AND (   isnull(resultnm , '') Like concat('%',#{resultnm},'%') )
          AND A.useyn = '1'
        order by a.resultcd
        ]]>
    </select>

    <!-- 담당부서 -->
    <select id="GetDivinmList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.divicd    divicd  ,
               a.divinm    divinm
        FROM TB_JC002 a WITH(NOLOCK)
        WHERE 1 = 1
          AND (   isnull(divinm , '') Like concat('%',#{divinm},'%') )
          AND A.useyn = '1'
        ]]>
    </select>

    <!-- 담당자 -->
    <select id="GetPernmList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT Substring(a.perid, 2, len(a.perid) )    perid  ,
               a.pernm    pernm ,
               b.divicd as divicd,
               b.divinm as divinm,
               Substring(a.perid, 2, len(a.perid) )    wperid  ,
               a.pernm    wpernm ,
               isnull(a.handphone, '') as handphone
        FROM TB_JA001 a WITH(NOLOCK) , TB_JC002 b WITH (NOLOCK)
        WHERE a.divicd = b.divicd
          AND (   isnull(a.pernm , '') Like concat('%',#{pernm},'%') )
          AND a.rtclafi in ('001')
        order by pernm
        ]]>
    </select>

    <!-- 담당자 -->
    <select id="GetPernmList2" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.perid    perid  ,
               a.pernm    pernm
        FROM TB_JA001 a WITH(NOLOCK)
        WHERE 1 = 1
          AND (   isnull(pernm , '') Like concat('%',#{pernm},'%') )
        order by a.pernm
        ]]>
    </select>

    <select id="GetEqupList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT equpnm as equpnm,
               equpcd as equpcd
        FROM TB_E611
        WHERE (   isnull(actcd, '') like concat('%',#{actcd},'%'))
          and (isnull(equpnm,'') like concat('%',#{equpnm},'%'))
        group by actcd, equpnm, equpcd
        ]]>
    </select>

    <select id="GetGreGicdList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[SELECT gregicd ,
                        greginm
                 from TB_E013
                 where (isnull(greginm, '') like concat('%',#{greginm},'%'))
        ]]>
    </select>

    <select id="GetremoList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        select remocd, remonm
        from TB_E011 a with(nolock)
        where (ISNULL(remonm,'') like CONCAT('%',#{remonm},'%'))
    </select>

    <select id="GetresunmList2" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        select resucd, resunm
        from TB_E012 a with(nolock)
        where (ISNULL(resunm,'') like CONCAT('%',#{resunm},'%'))
    </select>

    <!-- 고장원인 -->
    <select id="GetFacnmList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.faccd    faccd  ,
               a.facnm    facnm
        FROM TB_E019 a WITH(NOLOCK)
        WHERE 1 = 1
          AND (   isnull(facnm , '') Like concat('%',#{facnm},'%') )
          AND A.useyn = '1'
        ]]>
    </select>




    <!-- 처리자 -->
    <select id="GetPernm3List" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
    <![CDATA[
        SELECT a.perid    perid  ,
               a.pernm    pernm
        FROM TB_JA001 a WITH(NOLOCK)
        WHERE 1 = 1
          AND (   isnull(pernm , '') Like concat('%',#{pernm},'%') )
        ]]>
    </select>

    <!-- actas 담당자 -->
    <select id="GetPernm2List" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[ SELECT CASE WHEN a.actperid IS NULL THEN 'nocode'
                              ELSE actperid end as actperid ,
                         CASE WHEN a.actpernm IS NULL THEN 'noname'
                              ELSE actpernm end as actpernm
                  FROM DEV_WERP.dbo.TB_E601 a WITH(NOLOCK)
                  WHERE 1 = 1
                    AND (   isnull(actpernm , '') Like concat('%',#{actpernm},'%') )]]>
    </select>

    <!-- 회사구분 -->
    <select id="GetWkactList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT a.wkactcd    wkactcd  ,
               a.wkactnm    wkactnm
        FROM TB_E018_1 a WITH(NOLOCK)
        WHERE 1 = 1
          AND (   isnull(wkactnm , '') Like concat('%',#{wkactnm},'%') )
        ]]>
    </select>


    <!-- SMS INFO -->
    <select id="GetSmsInfoList" parameterType="com.actas.ems.DTO.Popup.PopupDto" resultType="com.actas.ems.DTO.Popup.PopupDto">
        <![CDATA[
        SELECT TOP 1 sms_ip,     sms_fport,  sms_tport,  sms_id,     sms_ps,     agnertel1
        FROM tb_xa011   WITH(NOLOCK)
        WHERE 1 = 1
        ]]>
    </select>


</mapper>
