<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment"> 
    <meta charset="UTF-8">
    <!--  컨텐츠 페이지의 title 들어감-->
    <th:block layout:fragment="titile"></th:block>
 

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>(주)엑타스 02-6959-5020 </title>

    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
     

    
    <!--  컨텐츠 페이지의 css-->
    <!-- <th:block layout:fragment="css"></th:block> -->

</head> 