<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<body style="background: #f5f9fa;">
<header>

</header>
<div class="content flex">
    <div class="header on">
        <div class="left">
            <div class="ham">
                <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
            </div>
            <div class="nav_bg"></div>
            <!-- ################################ -->
            <!-- ## Left navigator include -->
            <th:block th:include="layouts/APPHeader/appLeftNav" />
        </div>
        <div class="right">
        </div>
    </div>
    <div class="con">
        <div class="header_top">
            <ul class="left">
                <li>
                    <div class="logo">
                        <a href="">
                            <img th:src="@{/assets/images/logo.png}" alt="">
                        </a>
                    </div>
                </li>
                <li class="home">
                    <a><img th:src="@{/assets/images/i_home.png}" alt=""></a>
                    <a><img th:src="@{/assets/images/i_home_on.png}" alt=""></a>
                </li>
                <li>
                    종합유지관리서비스
                </li>
                <li class="on">
                    현장별고장현황
                </li>
            </ul>
            <ul class="right">
                <li>
                    <a href="">
                        <img th:src="@{/assets/images/i_call.png}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img th:src="@{/assets/images/i_bell.png}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img th:src="@{/assets/images/i_menu.png}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img th:src="@{/assets/images/i_que.png}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img th:src="@{/assets/images/i_user.png}" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="infor_bar type2">
            <ul class="right" style="visibility: hidden; opacity: 0;">
                <li>
                    <button type="button" class="color2">
                        <i><img th:src="@{/assets/images/i_search.png}" alt=""></i>조회
                    </button>
                </li>
                <li>
                    <button type="button" class="color5">
                        <i><img th:src="@{/assets/images/i_print.png}" alt=""></i>프린트
                    </button>
                </li>
            </ul>
            <div class="left">
                현장별고장현황
            </div>
            <ul class="right">
                <li>
                    <button type="button" class="color2" id="retrieveBtn">
                        <i><img th:src="@{/assets/images/i_search.png}" alt=""></i>조회
                    </button>
                </li>
                <!-- <li>
                    <button type="button" class="color5">
                        <i><img th:src="@{/assets/images/i_print.png}" alt=""></i>프린트
                    </button>
                </li> -->
            </ul>

        </div>
        <div class="section">
            <div class="sec_con" style="width: 100%;">
                <div class="box_wrap">
                    <ul class="search_box">
                        <li>
                            <div class="input-group mb-3"><span class="input-group-text" id="basic-addon1">기간</span>
                                <input type="text"  class="form-control datetimepicker" id="frdate" autocomplete="off"  placeholder="Y-m-d"     >
                                <!-- <span>-</span> -->
                                <input type="text"  class="form-control datetimepicker" id="todate" autocomplete="off"  placeholder="Y-m-d"     >
                            </div>
                        </li>
                        <li>
                            <div class="input-group mb-3"><span class="input-group-text" id="basic-addon1">현장명</span>
                                <input class="form-control" type="text" placeholder="현장명을 입력하세요" id="actnmz" name="actnmz" aria-label="actnmz" aria-describedby="basic-addon1" />
                                <input class="form-control form-control-sm"  type="hidden"  id="actcdz"  />
                            </div>
                        </li>
                        <li>
                            <div class="input-group mb-3"><span class="input-group-text" id="basic-addon1">고장건수</span>
                                <input class="form-control" type="text" placeholder="입력하지 않을시 0으로 검색됩니다." id="actqtyz" name="actqtyz" aria-label="actqtyz" aria-describedby="basic-addon1" />
                            </div>
                        </li>
                        <li>
                            <div class="input-group mb-3"><span class="input-group-text" id="basic-addon1">처리자</span>
                                <input class="form-control" type="text" placeholder="처리자를 입력하세요" id="actpernmz" name="actpernmz" aria-label="actpernmz" aria-describedby="basic-addon1" />
                                <input class="form-control form-control-sm"  type="hidden"  id="actperidz"  />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section status">
            <div class="sec_con" style="width: 100%;">
                <div class="box_wrap">
                    <div class="table table_style2">
                        <div class="card-body bg-light">
                                  <a class="nav-link active" data-toggle="tab" href="#step01" onclick="tabchk_rtn('A')"></a>
                                <input type="hidden" id="tabvalue" value="A">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="step01">
                                    <div class="container-fluid">
                                        <div id="wtab01Grid_div" ></div>
                                        <div id="tab01Pager"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input class="form-control form-control-sm"  type="hidden" id="actnmbtn" data-bs-toggle="modal" data-bs-target="#actnmmodal"  />
    <input class="form-control form-control-sm"  type="hidden" id="actpernmbtn" data-bs-toggle="modal" data-bs-target="#actpernmmodal"  />


    <!--------------------------------------------------------------------------------------->
    <!-- 현장명 MODAL FROM  -->
    <div class="modal fade" id="actnmmodal" data-bs-keyboard="false"
         data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"
             style="max-width: 800px">
            <div class="modal-content border-0">
                <div class="modal-body p-0" >
                    <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                        <!-- <h4 class="mb-1" id="modalExampleDemoLabel">현장검색</h4>  -->
                        <div class="search">
                            <div class="input_wrap">
                                <input class="form-control form-control-sm" id="searchCode" type="text"   onkeyup="if(window.event.keyCode==13){searchpcode_rtn()}"
                                       placeholder="현장코드 / 현장명 "     />
                            </div>
                            <button id="wactnmBtn">
                                <img th:src="@{/assets/images/i_search.png}" alt="">
                            </button>
                        </div>
                        <div  class="save_id" >
                            <input type="checkbox" id="conflag" value="1" checked>
                            <label for="conflag" class="check_style1">계약현장</label>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div id="theGroupPanel"></div>
                        <div id="wactnmGrid_div" ></div>
                        <div id="thePager01"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row g-1">
                        <div class="col-auto">
                            <button class="badge-soft-primary dropdown-item rounded-1"
                                    type="button"  id="wactnmmodal_btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------->

    <!--------------------------------------------------------------------------------------->
    <!-- 처리자 MODAL FROM  -->
    <div class="modal fade" id="actpernmmodal" data-bs-keyboard="false"
         data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"
             style="max-width: 500px">
            <div class="modal-content border-0">
                <div class="modal-body p-0" >
                    <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                        <!-- <h4 class="mb-1" id="modalExampleDemoLabel">현장검색</h4>  -->
                        <div class="search">
                            <div class="input_wrap">
                                <input class="form-control form-control-sm" id="searchPerCode" type="text"   onkeyup="if(window.event.keyCode==13){searchpernm_rtn()}"
                                       placeholder="처리자 "     />
                            </div>
                            <button id="wpernmBtn">
                                <img th:src="@{/assets/images/i_search.png}" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div id="wpernmGrid_div" ></div>
                        <div id="thePager02"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row g-1">
                        <div class="col-auto">
                            <button class="badge-soft-primary dropdown-item rounded-1"
                                    type="button"  id="wpernmmodal_btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------->



    <script type="text/javascript" th:inline="javascript">
         var view_p01tab01page;
         var view_actnmpage;
         var view_pernmpage;
         var wtab01Grid;
         var wactnmGrid;
         var wpernmGrid;
         var typeMenu;
         var treemap;
         let barchart;
         let ani;
         var wseries_data = [0];

         window.onload = function() {
            localStorage.setItem("setpage", "app03p001");

            //tab01검색 popup list
            view_p01tab01page = new wijmo.collections.CollectionView(getData_tab01(), {
                sortDescriptions: ['actnm'],
                groupDescriptions: ['actnm'],
                pageSize: 18
            });
            // tab01검색 페이지 이동
            new wijmo.input.CollectionViewNavigator('#tab01Pager', {
                byPage: true,
                headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
                cv: view_p01tab01page
            });
            wtab01Grid = new wijmo.grid.FlexGrid('#wtab01Grid_div', {
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: false,
                // selectionMode: 'RowRange',
                allowSorting: 'MultiColumn',
                alternatingRowStep: 0,
                columns: [
                    { binding: 'actnm', header: '현장명', align: "center", width: '*' },
                    { binding: 'equpnm', header: '호기명', align: "center", width: '*' },
                    { binding: 'qty', header: '건수', align: "center", width: '*',  aggregate: 'Sum'  },
                    { binding: 'pernm', header: '처리자', align: "center", width: '*' },
                    { binding: 'contnm', header: '고장내용', align: "center", width: '*' },
                    { binding: 'contents', header: '고장상세내용', align: "center", width: '*' },
                    { binding: 'remark', header: '비고', align: "center", width: '*' }
                ],
                itemsSource: view_p01tab01page
            });

            new FlexGridContextMenu(wtab01Grid);
            // 그룹 패널 생성
            var theGroupPanel = new wijmo.grid.grouppanel.GroupPanel('#theGroupPanel', {
                placeholder: '그룹을 만들려면 열을 여기로 끌어다 놓아주세요.  마우스 우 클릭하시면 엑셀로 받으실 수 있습니다.',
                grid: wtab01Grid
            });
            // 선택기 생성
            let selector = new wijmo.grid.selector.Selector(wtab01Grid, {
                itemChecked: () => {
                    showCheckedCount();
                }
            });
            // 헤더 열 전환
            setHeaderColumn(true);
            function setHeaderColumn(headerOn) {
                wtab01Grid.headersVisibility = headerOn
                ? wijmo.grid.HeadersVisibility.All
                : wijmo.grid.HeadersVisibility.Column;
                selector.column = headerOn
                ? wtab01Grid.rowHeaders.columns[0]
                : wtab01Grid.columns[0];
            }
            wtab01Grid.showMarquee = true;
            wtab01Grid.focus();
            wijmo.toggleClass(wtab01Grid.hostElement, 'highlightActive', true);
            wtab01Grid.focus();


            // tab01검색 데이터 수집
            function getData_tab01(){
                var wactnm_data = [];
                var cnt = 1;
                for (var i = 0; i < 12; i++) {
                    wactnm_data.push({
                        id: i,
                        index: cnt,
                        actnm: "",
                        equpnm: "",
                        qty: "",
                        pernm: "",
                        contnm: "",
                        contents: "",
                        remark: ""
                    });
                    cnt++;
                }
                return wactnm_data;
            }

            //현장검색 popup list
            view_actnmpage = new wijmo.collections.CollectionView(getData_wlist(), {
                pageSize: 12
            });
            // 현장검색 페이지 이동
            new wijmo.input.CollectionViewNavigator('#thePager01', {
                byPage: true,
                headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
                cv: view_actnmpage
            });
            wactnmGrid = new wijmo.grid.FlexGrid('#wactnmGrid_div', {
                autoGenerateColumns: false,
                isReadOnly: false,
                allowSorting: 'MultiColumn',
                selectionMode: 'RowRange',
                alternatingRowStep: 0,
                columns: [
                    { binding: 'actnm', header: '현장명', align: "center", width: '1*' },
                    { binding: 'telno', header: '전화번호', align: "center", width: '1*' },
                    { binding: 'addr', header: '주소', align: "center", width: '*' },
                ],
                itemsSource: view_actnmpage
            });
            // 현장검색 데이터 수집
            function getData_wlist(){
                var wactnm_data = [];
                var cnt = 1;
                for (var i = 0; i < 12; i++) {
                    wactnm_data.push({
                        id: i,
                        index: cnt,
                        actnm: "",
                        telno: "",
                        addr: "",
                    });
                    cnt++;
                }
                return wactnm_data;
            }

            //처리자검색 popup list
            view_pernmpage = new wijmo.collections.CollectionView(getData_wlist02(), {
                pageSize: 12
            });
            // 처리자검색 페이지 이동
            new wijmo.input.CollectionViewNavigator('#thePager02', {
                byPage: true,
                headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
                cv: view_pernmpage
            });
            wpernmGrid = new wijmo.grid.FlexGrid('#wpernmGrid_div', {
                autoGenerateColumns: false,
                isReadOnly: false,
                selectionMode: 'RowRange',
                alternatingRowStep: 0,
                columns: [
                    { binding: 'perid', header: '코드', align: "center", width: '1*' },
                    { binding: 'pernm', header: '처리자', align: "center", width: '1*' },
                ],
                itemsSource: view_pernmpage
            });
            // 처리자검색 데이터 수집
            function getData_wlist02(){
                var wpernm_data = [];
                var cnt = 1;
                for (var i = 0; i < 12; i++) {
                    wpernm_data.push({
                        id: i,
                        index: cnt,
                        perid: "",
                        pernm: "",
                    });
                    cnt++;
                }
                return wpernm_data;
            }






            // TAB03 차트 init
            function Tab03Chartinit() {
                // 차트 타입 변경
                typeMenu = new wijmo.input.Menu('#typeMenu', {
                    itemClicked: function (s, e) {
                    treemap.type = parseInt(s.selectedValue);
                    updateMenuHeader(s, 'Type');
                    }
                });
                updateMenuHeader(typeMenu, 'Type');
                //
                treemap = new wijmo.chart.hierarchical.TreeMap('#chartTabC', {
                    binding: 'sales',
                    bindingName: ['category', 'subCategory'],
                    itemsSource: [0],
                    dataLabel: {
                    position: 'Center',
                    content: '{name}'
                    },
                    type: wijmo.chart.hierarchical.TreeMapType.Squarified
                });
                treemap.palette = getRandomPalette();
            }
                //

        }


        //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        //선택한 탭 체크
         function tabchk_rtn(arg){
            document.getElementById('tabvalue').value = arg;
        }
        //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        //현장 검색
        document.getElementById("actnmz").addEventListener("click",function(){
            document.getElementById("actnmbtn").click();
        });
        //처리자 검색
        document.getElementById("actpernmz").addEventListener("click",function(){
            document.getElementById("actpernmbtn").click();
        });


        //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        // 현장 검색
        document.getElementById("wactnmBtn").addEventListener("click",function(){
            searchpcode_rtn();
        })
        document.getElementById("wpernmBtn").addEventListener("click",function(){
            searchpernm_rtn();
        })

        // tab01 검색
        document.getElementById("retrieveBtn").addEventListener("click",function(){

            var ls_tab = document.getElementById('tabvalue').value;
            let ls_frdate = document.getElementById('frdate').value;
            let ls_todate = document.getElementById('todate').value;
            let ls_actcdz = document.getElementById('actcdz').value;
            let ls_actnmz = document.getElementById('actnmz').value;
            let ls_peridz = document.getElementById('actperidz').value;
            let ls_pernmz = document.getElementById('actpernmz').value;
            let ls_qtyz = document.getElementById('actqtyz').value;

            if(ls_actnmz == null || ls_actnmz.length == 0 || ls_actnmz == ""){
                ls_actcdz = "%";
                document.getElementById('actcdz').value = "";
            }
            if(ls_actcdz == null || ls_actcdz.length == 0 || ls_actcdz == ""){
                ls_actcdz = "%";
            }
            if(ls_pernmz == null || ls_pernmz.length == 0 || ls_pernmz == ""){
                ls_peridz = "%";
                document.getElementById('actperidz').value = "";
            }
            if(ls_peridz == null || ls_peridz.length == 0 || ls_peridz == ""){
                ls_peridz = "%";
            }
            if(ls_qtyz == null || ls_qtyz.length == 0 || ls_qtyz == ""){
                ls_qtyz = "0";
            }
            searchList_rtn(ls_tab, ls_frdate, ls_todate, ls_actcdz, ls_peridz, ls_qtyz);
            console.log(ls_qtyz, ls_peridz, ls_frdate, ls_todate, ls_actcdz, ls_peridz)
        })

        function searchList_rtn(arg1, arg2, arg3, arg4, arg5, arg6){
            switch(arg1){
                case 'A':
                    $.ajax({
                        url: '/app20/p001tab01',
                        type:"POST",
                        data: {
                            "frdate"      : arg2,
                            "todate"      : arg3,
                            "actcdz"      : arg4,
                            "peridz"      : arg5,
                            "qtyz"        : arg6
                        },
                        async:false,
                        success:function(data){
                            tabA_grid(data);
                        },error:function(e){
                            console.log("error");
                            // alert(data.code);
                            // alert(data.message);
                        }
                    }).done(function(fragment){

                    })
                    break;
                default:
                    break;
            }


        }
        function tabA_grid(data){
            var wtab01Dto  = data;
            var wtab01_data = [];
            var cnt = 1;
            for (var i = 0; i < wtab01Dto.length; i++) {
                wtab01_data.push({
                    id: i,
                    index: cnt,
                    actnm: wtab01Dto[i]["actnm"],
                    equpnm: wtab01Dto[i]["equpnm"],
                    qty: wtab01Dto[i]["qty"],
                    pernm: wtab01Dto[i]["pernm"],
                    contnm: wtab01Dto[i]["contnm"],
                    contents: wtab01Dto[i]["contents"],
                    remark: wtab01Dto[i]["remark"]
                });
                cnt++;
            }
            // console.log("wtab01_data",wactnm_data) +
            // console.log(wtab01_data.length);
            wtab01Grid.columns.clear();
            wtab01Grid.autoGenerateColumns = false;
            view_p01tab01page.sourceCollection  = wtab01_data;
            
            // console.log("cols", cols);
            var cols = new wijmo.grid.Column();
            cols.binding = 'actnm';
            cols.header = '현장명';
            cols.align = "left";
            cols.width = '2*';
            wtab01Grid.columns.push(cols);
            cols = new wijmo.grid.Column();
            cols.binding = 'equpnm';
            cols.header = '호기명';
            cols.align = "center";
            cols.width = '*';
            wtab01Grid.columns.push(cols);
            cols = new wijmo.grid.Column();
            cols.binding = 'qty';
            cols.header = '건수';
            cols.aggregate = 'Sum';
            cols.align = "center";
            cols.width = '*';
            wtab01Grid.columns.push(cols);
            cols = new wijmo.grid.Column();
            cols.binding = 'pernm';
            cols.header = '처리자';
            cols.align = "left";
            cols.width = '*';
            wtab01Grid.columns.push(cols);
            cols = new wijmo.grid.Column();
            cols.binding = 'contnm';
            cols.header = '고장내용';
            cols.align = "left";
            cols.width = '*';
            wtab01Grid.columns.push(cols);
            cols = new wijmo.grid.Column();
            cols.binding = 'contents';
            cols.header = '고장상세내용';
            cols.align = "left";
            cols.width = '2*';
            wtab01Grid.columns.push(cols);
            cols = new wijmo.grid.Column();
            cols.binding = 'remark';
            cols.header = '비고';
            cols.align = "left";
            cols.width = '2*';
            wtab01Grid.columns.push(cols);

        }

        function searchpcode_rtn(){
            let searchText = '';
            searchText = document.getElementById('searchCode').value;
            let lsConflag = document.getElementById('conflag').value;
            if(searchText == null || searchText.length == 0 || searchText == ""){
                searchText = "%";
            }
            $.ajax({
                url: '/pop01/wactnm',
                type:"POST",
                data: {
                    "actnmz"      : searchText,
                    "conflag"      : lsConflag
                },
                success:function(data){
                    var wactnmDto  = data;
                    var wactnm_data = [];
                    var cnt = 1;
                    for (var i = 0; i < wactnmDto.length; i++) {
                        wactnm_data.push({
                            id: i,
                            index: cnt,
                            actnm:wactnmDto[i]["actnm"],
                            actcd: wactnmDto[i]["actcd"],
                            telno: wactnmDto[i]["telno"]  ,
                            addr: wactnmDto[i]["addr"]
                        });
                        cnt++;
                    }
                    // console.log("wactnm_data",wactnm_data)
                    wactnmGrid.columns.clear();
                    wactnmGrid.autoGenerateColumns = false;
                    view_actnmpage.sourceCollection  = wactnm_data;
                    var cols = new wijmo.grid.Column();
                    cols.binding = 'actcd';
                    cols.header = '코드';
                    cols.align = "center";
                    cols.width = '*';
                    cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({
                        text: '<b>${item.actcd}</b>',
                        click: (e, ctx) => {
                            wactnmChk_2(ctx.item.actcd, ctx.item.actnm);
                        }
                    });
                    wactnmGrid.columns.push(cols);
                    // console.log("cols", cols);
                    cols = new wijmo.grid.Column();
                    cols.binding = 'actnm';
                    cols.header = '현장명';
                    cols.align = "center";
                    cols.width = '*';
                    wactnmGrid.columns.push(cols);
                    cols = new wijmo.grid.Column();
                    cols.binding = 'telno';
                    cols.header = '전화번호';
                    cols.align = "center";
                    cols.width = '*';
                    cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({
                        text: '<b>${item.telno}</b>',
                        click: (e, ctx) => {
                            wactnmChk_2(ctx.item.actcd, ctx.item.actnm);
                        }
                    });
                    wactnmGrid.columns.push(cols);
                    cols = new wijmo.grid.Column();
                    cols.binding = 'addr';
                    cols.header = '주소';
                    cols.align = "left";
                    cols.width = '*';
                    wactnmGrid.columns.push(cols);
                },error:function(e){
                    alert(data.code);
                    alert(data.message);
                }
            }).done(function(fragment){

            })
        }

        function wactnmChk_2(arg1, arg2){
            document.getElementById('actcdz').value = arg1;
            document.getElementById('actnmz').value = arg2;

            $("#wactnmmodal_btn").trigger("click");
        }

        function searchpernm_rtn(){
            let searchPer = '';
            searchPer = document.getElementById('searchPerCode').value;
            if(searchPer == null || searchPer.length == 0 || searchPer == ""){
                searchPer = "%";
            }
            $.ajax({
                url: '/pop01/wpernm',
                type:"POST",
                data: {
                    "actpernmz"      : searchPer,
                },
                success:function(data){
                    var wactpernmDto  = data;
                    var wactpernm_data = [];
                    var cnt = 1;
                    for (var i = 0; i < wactpernmDto.length; i++) {
                        wactpernm_data.push({
                            id: i,
                            index: cnt,
                            pernm:wactpernmDto[i]["pernm"],
                            perid: wactpernmDto[i]["perid"]
                        });
                        cnt++;
                    }
                    // console.log("wactnm_data",wactnm_data)
                    wpernmGrid.columns.clear();
                    wpernmGrid.autoGenerateColumns = false;
                    view_pernmpage.sourceCollection  = wactpernm_data;
                    var cols = new wijmo.grid.Column();
                    cols.binding = 'perid';
                    cols.header = '코드';
                    cols.align = "center";
                    cols.width = '*';
                    cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({
                        text: '<b>${item.perid}</b>',
                        click: (e, ctx) => {
                            wpernmChk_1(ctx.item.perid, ctx.item.pernm);
                        }
                    });
                    wpernmGrid.columns.push(cols);
                    // console.log("cols", cols);
                    cols = new wijmo.grid.Column();
                    cols.binding = 'pernm';
                    cols.header = '처리자';
                    cols.align = "center";
                    cols.width = '*';
                    wpernmGrid.columns.push(cols);
                },error:function(e){
                    alert(data.code);
                    alert(data.message);
                }
            }).done(function(fragment){

            })
        }

        function wpernmChk_1(arg1, arg2){
            document.getElementById('actperidz').value = arg1;
            document.getElementById('actpernmz').value = arg2;

            $("#wpernmmodal_btn").trigger("click");
        }







    // // 데이터
    // var categories = ['Beverages', 'Condiments', 'Confections', 'Dairy Products', 'Grains/Cereals', 'Meat/Poultry', 'Produce', 'Seafood'];
    // var subCategories = [
    //   ['Soft drinks', 'Coffees', 'Teas', 'Beers', 'Ales'],
    //   ['Sweet and Savory sauces', 'Relishes', 'Spreads', 'Seasonings'],
    //   ['Desserts', 'Candies', 'Sweet breads'],
    //   ['Cheeses'],
    //   ['Breads', 'Crackers', 'Pasta', 'Cereal'],
    //   ['Prepared meats'],
    //   ['Dried fruit', 'Bean curd'],
    //   ['Seaweed', 'Fish']
    // ];
    // var subvalues = []
    // function getSales() {
    //   return Math.round(Math.random() * 100);
    // }
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


        $(document).ready(function() {
            getToday()
            fn_egov_init_date()
            $('datetimepicker').datetimepicker({

            });

            $("#frdate").change(function(e){
                // console.log("달력클릭");
                // console.log(convert_time(e.timestamp));
            })
            $("#todate").change(function(e){
                // console.log("달력클릭");
                // console.log(convert_time(e.timestamp));
            })
        })

        function test_rtn(arg1){
            console.log(arg1);
            const disHtml = `
                <div class="tab-pane fade show active" id=${arg1} role="tabpanel" aria-labelledby="profile-tab">${arg1}</div>`
            $('#btnDiv02').before(disHtml);
        }


        function getToday(){
            let today = new Date();

            let year = today.getFullYear(); // 년도
            let month = today.getMonth() + 1;  // 월
            let date = today.getDate();  // 날짜
            let day = today.getDay();  // 요일
            if(month > 0 && month < 10) {month = "0" + month};
            if(date > 0 && date < 10) {date = "0" + date};
            let ls_frday = year + '-' + month + '-01'
            let ls_today = year + '-' + month + '-' + date
            document.getElementById('frdate').value = ls_frday;
            document.getElementById('todate').value = ls_today;
        }

        function convert_time(timestamp){
            //현재시간
            var date = new Date(timestamp);
            var year = date.getFullYear();
            var month = ("0" + (1 + date.getMonth())).slice(-2);
            var day = ("0" + date.getDate()).slice(-2);
            var hh = date.getHours();
            var min = ('0' + date.getMinutes()).slice(-2)
            time = year +  month +  day   ;
            return time;
        }

        function fn_egov_init_date(){
            var $frdate = $('#frdate');
            var $todate = $('#todate');
            $frdate.datetimepicker({
                timepicker: false,
                lang: 'ko',
                format: 'Y-m-d',
                scrollMonth: false,
                scrollInput: false,
                onShow: function (ct) {
                    this.setOptions({
                        // maxDate: $frdate.val() ? $frdate.val() : false
                    })
                },
            });

            $todate.datetimepicker({
                timepicker: false,
                lang: 'ko',
                format: 'Y-m-d',    //'Y-m-d H:i',
                scrollMonth: false,
                scrollInput: false,
                onShow: function (ct) {
                    this.setOptions({
                        // minDate: $todate.val() ? $todate.val() : false
                    })
                }
            });

        }

        class FlexGridContextMenu {
            constructor(grid) {
                let host = grid.hostElement, menu = this._buildMenu(grid);
                host.addEventListener('contextmenu', (e) => {
                    // 클릭된 셀/열 선택
                    let sel = grid.selection, ht = grid.hitTest(e), row = ht.getRow();

                    switch (ht.panel) {
                        case grid.cells:
                        let colIndex = ht.col;
                        // 만약 그룹 헤더이면, 그룹 열 선택
                        if (row instanceof wijmo.grid.GroupRow && row.dataItem instanceof wijmo.collections.CollectionViewGroup) {
                            let gd = row.dataItem.groupDescription;
                            if (gd instanceof wijmo.collections.PropertyGroupDescription) {
                            let col = grid.getColumn(gd.propertyName);
                            if (col && col.index > -1) {
                                colIndex = col.index;
                            }
                            }
                        }
                        grid.select(ht.row, colIndex);
                        break;
                        case grid.columnHeaders:
                        grid.select(sel.row, ht.col);
                        break;
                        case grid.rowHeaders:
                        grid.select(ht.row, sel.col);
                        break;
                        default:
                        return; // 유효하지 않는 패널
                    }
                    // 현재 열에 대한 메뉴 표시
                    if (grid.selection.col > -1) {
                        e.preventDefault(); // 브라우저의 기본 메뉴 취소
                        menu.show(e); // Wijmo 메뉴 표시
                    }
                }, true);
            }
            _buildMenu(grid) {
                let menu = new wijmo.input.Menu(document.createElement('div'), {
                owner: grid.hostElement,
                displayMemberPath: 'header',
                subItemsPath: 'items',
                commandParameterPath: 'cmd',
                dropDownCssClass: 'ctx-menu',
                openOnHover: true,
                closeOnLeave: true,
                itemsSource: [
                    {
                    header: '정렬', items: [
                        { header: 'Ascending', cmd: 'SRT_ASC' },
                        { header: 'Descending', cmd: 'SRT_DESC' },
                        { header: 'No Sort', cmd: 'SRT_NONE' },
                        { header: '-' },
                        { header: 'Clear All Sorts', cmd: 'SRT_CLR' }
                    ]
                    },
                    { header: '-' },
                    { header: 'Pin/Unpin', cmd: 'PIN' },
                    { header: '-' },
                    { header: 'AutoSize', cmd: 'ASZ' },
                    { header: 'AutoSize All', cmd: 'ASZ_ALL' },
                    { header: '-' },
                    { header: 'Group/Ungroup', cmd: 'GRP' },
                    { header: 'Clear All Groups', cmd: 'GRP_CLR' },
                    { header: '-' },
                    {
                    header: '내려받기', items: [
                        { header: 'CSV', cmd: 'X_CSV' },
                        { header: 'XLSX', cmd: 'X_XLSX' },
                        { header: 'PDF', cmd: 'X_PDF' },
                    ]
                    }
                ],
                command: {
                    // 메뉴 명령 활성화/비활성화
                    canExecuteCommand: (cmd) => {
                    let view = grid.collectionView, col = grid.columns[grid.selection.col];
                    switch (cmd) {
                        case 'SRT_ASC':
                        return col.currentSort != '+';
                        case 'SRT_DESC':
                        return col.currentSort != '-';
                        case 'SRT_NONE':
                        return col.currentSort != null;
                        case 'SRT_CLR':
                        return view.sortDescriptions.length > 0;
                        case 'PIN':
                        return true; // toggle pin
                        case 'ASZ':
                        case 'ASZ_ALL':
                        return true;
                        case 'GRP':
                        return col.dataType != wijmo.DataType.Number; // don't group numbers
                        case 'GRP_CLR':
                        return view.groupDescriptions.length > 0;
                    }
                    return true;
                    },
                    // 메뉴 명령 실행
                    executeCommand: (cmd) => {
                        let view = grid.collectionView, cols = grid.columns, col = cols[grid.selection.col], sd = view.sortDescriptions, gd = view.groupDescriptions;
                        switch (cmd) {
                            case 'SRT_ASC':
                            case 'SRT_DESC':
                            case 'SRT_NONE':
                            if (grid.allowSorting != wijmo.grid.AllowSorting.MultiColumn) {
                                sd.clear();
                            }
                            else {
                                for (let i = 0; i < sd.length; i++) {
                                if (sd[i].property == col.binding) {
                                    sd.removeAt(i);
                                    break;
                                }
                                }
                            }
                            if (cmd != 'SRT_NONE') {
                                sd.push(new wijmo.collections.SortDescription(col.binding, cmd == 'SRT_ASC'));
                            }
                                break;
                            case 'SRT_CLR':
                                sd.clear();
                                break;
                            case 'PIN':
                                let fCols = grid.frozenColumns;
                                if (col.index >= fCols) { // pinning
                                    cols.moveElement(col.index, fCols, false);
                                    cols.frozen++;
                                }
                                else { // unpinning
                                    cols.moveElement(col.index, fCols - 1, false);
                                    cols.frozen--;
                                }
                                break;
                            case 'ASZ':
                                grid.autoSizeColumn(col.index);
                                break;
                            case 'ASZ_ALL':
                                grid.autoSizeColumns(0, grid.columns.length - 1);
                                break;
                            case 'GRP':
                            // 그룹 삭제
                                for (let i = 0; i < gd.length; i++) {
                                    if (gd[i].propertyName == col.binding) {
                                    gd.removeAt(i);
                                    return; // we're done
                                    }
                                }
                                // 그룹 추가
                                gd.push(new wijmo.collections.PropertyGroupDescription(col.binding));
                                break;
                            case 'GRP_CLR':
                                gd.clear();
                                break;
                            // 내보내기
                            case 'X_CSV':
                                let rng = new wijmo.grid.CellRange(0, 0, grid.rows.length - 1, grid.columns.length - 1), csv = grid.getClipString(rng, wijmo.grid.ClipStringOptions.CSV, true, false);
                                wijmo.saveFile(csv, 'FlexGrid.csv');
                                break;
                            case 'X_XLSX':
                                wijmo.grid.xlsx.FlexGridXlsxConverter.saveAsync(grid, null, 'FlexGrid.xlsx');
                                break;
                            case 'X_PDF':
                                wijmo.grid.pdf.FlexGridPdfConverter.export(grid, 'FlexGrid.pdf', {
                                    maxPages: 10,
                                    scaleMode: wijmo.grid.pdf.ScaleMode.PageWidth,
                                    documentOptions: {
                                    compress: true,
                                    header: { declarative: { text: '\t&[Page] of &[Pages]' } },
                                    footer: { declarative: { text: '\t&[Page] of &[Pages]' } },
                                    info: { author: 'GrapeCity', title: 'FlexGrid' }
                                    },
                                    styles: {
                                    cellStyle: { backgroundColor: '#ffffff', borderColor: '#c6c6c6' },
                                    altCellStyle: { backgroundColor: '#f9f9f9' },
                                    groupCellStyle: { backgroundColor: '#dddddd' },
                                    headerCellStyle: { backgroundColor: '#eaeaea' }
                                    }
                                });
                                break;
                        }
                        // 활성화 그리드 셀에 포커스 복원
                        grid.refresh();
                        let sel = grid.selection, cell = grid.cells.getCellElement(sel.row, sel.col);
                        if (cell) {
                            cell.focus();
                        }
                    }
                }
                });
                // 완료
                return menu;
            }
        }


    </script>

    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer>

    <!-- modal -->
    <!-- class="modal_step_open" modal_step="1" -->

    <div class="modal modal modal_step modal_step1 hidden">
        <div class="modal_overlay">
        </div>
        <div class="modal_content modal_sm scrollbar">
            <div class="layoutCont">
                <div class="modalContWrap">
                    <!-- <div class="modal_close cancerButton">
                      <img th:src="@{/assets/images/modal_close.png}" alt="모달 닫기버튼">
                    </div>                       -->
                    <div class="modal_head">
                    </div>
                    <div class="modal_con scrollbar">
                        모든 정보를 입력하세요.
                    </div>

                </div>
                <div class="modal_btn">
                    <button class="cancerButton " type="button">확인</button>
                </div>
                <!-- <div class="modal_btn flex">
                    <button class="cancerButton " type="button">확인</button>
                    <button class="cancerButton " type="button">확인</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
</body>
</html>