<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container">
    <p>글번호 :</p>
    <p>제목 :</p>
    <p>작성자 :</p>
    내용: <textarea></textarea>
    <!--
    <p>글번호 : [[${view.freq}]]</p>
    <p>제목: [[${view.fnsubject}]]</p>
    <p>작성자: [[${view.fpernm}]]</p>
    내용 :<textarea class="form-control" th:text="${view.fmemo}}"></textarea>
    -->
  </div>
</body>
</html>