<!DOCTYPE html>
<html lang="ko">
    
<head th:replace="layouts/XRegister/head :: headFragment" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACTAS Elevator 고객센터</title>
</head>
<body style="background: #f5f9fa">
<div class="content flex">
    <div class="header">
        <div class="left">
            <div class="ham">
                <button type="button"><img src="/images/ham.png" alt=""></button>
            </div>
            <div class="nav_bg"></div>
            <th:block th:include="layouts/APPHeader/appcareleft" />
        </div>
        <div class="right">
        </div>
    </div>
    <div class="con">
        <div class="header_top">
            <ul class="left">
                <li>
                    <div class="logo">
                        <a href="">
                            <img src="/images/logo.png" alt="">
                        </a>
                    </div>
                </li>
                <li class="home on">
                    <a><img src="/images/i_home.png" alt=""></a>
                    <a><img src="/images/i_home_on.png" alt=""></a>
                </li>
                <li>
                    공지사항
                </li>
                <!-- <li>
                    고객상담센터
                </li> -->
            </ul>
            <ul class="right">
                <li>
                    <a href="">
                        <img src="/images/i_call.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/i_bell.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/i_menu.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/i_que.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/i_user.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="section section1">
            <div class="sec_con" style="width: 50%;">
                <div class="sec_con_tit">
                    주간 고장접수건수
                </div>
                <div class="box_wrap with_tit">
                    그래프영역
                </div>
            </div>
            <div class="sec_con" style="width: 50%;">
                <div class="sec_con_tit">
                    고장 다발 현장/호기
                </div>
                <div class="box_wrap with_tit">
                    그래프영역
                </div>
            </div>



        </div>
        <div class="section section2">
            <div class="sec_con" style="width: 100%;">
                <div class="box_wrap ">
                    <ul class="center_list">
                        <li>
                            <div class="img">
                                <img src="/images/center_img1.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>현장별 호기별 고장 현황</h5>
                                <p>호기별로 고장부위 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app21/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img2.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>현장별 고장구분별 현황</h5>
                                <p>호기별로 고장구분별로 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app27/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img3.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>현장별 월별 고장율 현황</h5>
                                <p>호기별로 고장구분별로 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app16/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                    </ul>
                    <ul class="center_list">
                        <li>
                            <div class="img">
                                <img src="/images/center_img4.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>승강기 호기별 고장통계</h5>
                                <p>호기별로 고장구분별로 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app19/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img5.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>동호기별 고장 통계</h5>
                                <p>호기별로 고장 구분별로 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app25/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="/images/center_img6.png" alt="">
                            </div>
                            <div class="txt">
                                <h5>승강기 월별 고장 통계</h5>
                                <p>호기별로 고장 구분별로 현황을<br>살펴 볼 수 있습니다.</p>
                                <a th:href="@{/app22/index01}">
                                    자세히 보기 >
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
        <!--<form class="row gy-2 gx-4 align-items-center" role="form" th:object="${userFormDto}" th:action="@{/appcom01/update}" method="post" enctype="multipart/form-data"></form>
            Actas Elevator 고객센터 <br>
        <p>
        아이디<input type="text"  name="userid" th:value="${userFormDto.userid}" >
        사용자명<input type="text" name="username" th:value="${userFormDto.username}" > 
        거래처코드<input type="text"  name="cltcd" th:value="${userFormDto.cltcd}" >
        DBNAME<input type="text" name="dbnm" th:value="${userFormDto.dbnm}" > 
        구분<input type="text" name="flag" th:value="${userFormDto.flag}" > 
        </p>
    </form>-->
</body>
</html>