<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<body style="background: #f5f9fa;">
    <div class="content flex"> 
        <div class="header on">
            <div class="left">
                <div class="ham">
                    <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                </div>
                <div class="nav_bg"></div>
                <!-- ######################### -->
                <!-- ## Left navigator include -->
                <th:block th:include="layouts/APPHeader/appLeftNav" />
            </div>
            <div class="right"></div>
        </div>
        <!-- nav 끝 contents 시작 -->
        <div class="con">
            <!-- contents header -->
            <div class="header_top">
                <ul class="left">
                    <li>
                        <div class="logo">
                            <a href="">
                                <img th:src="@{/assets/images/logo.png}" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="home">
                        <a><img th:src="@{/assets/images/i_home.png}" alt=""></a>
                        <a><img th:src="@{/assets/images/i_home_on.png}" alt=""></a>
                    </li>
                    <li>
                        종합유지관리서비스
                    </li>
                    <li class="on">
                        고장처리등록
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="">
                            <img th:src="@{/assets/images/i_call.png}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img th:src="@{/assets/images/i_bell.png}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img th:src="@{/assets/images/i_menu.png}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img th:src="@{/assets/images/i_que.png}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img th:src="@{/assets/images/i_user.png}" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- contents infor_bar -->
            <div class="infor_bar type2">                                
                <div class="left">고장처리등록</div>
                <ul class="right">
                    <li>
                        <button type="button" class="color4" id="retrieveBtn">
                            고장처리현황
                        </button>
                    </li>
                </ul>
            </div>
            
             <!-- contents body 시작-->
             <div class="section regist">
                <div class="sec_con" style="width: 40%;">
                    <div class="box_wrap">
                        <div class="box_input" >
                            <div class="date_wrap">
                                <input type="text"  class="form-control datetimepicker" id="frdate" autocomplete="off"  placeholder="Y-m-d">
                                <span>-</span>
                                <input type="text"  class="form-control datetimepicker" id="todate" autocomplete="off"  placeholder="Y-m-d">
                                
                                <button type="button">검색</button>                            

                                <div class="input_wrap">
                                    <select name="selectbox" id="selectbox"  >
                                        <option value="" >선택</option>
                                        <option value="dn" onchange="chageLangSelect('A')" >미처리</option>
                                        <option value="do" onchange="chageLangSelect('B')" >처리</option>
                                        <input type="hidden" id="tabvalue" value="A">                                    

                                    </select>
                                </div>
                            </div>    
                            <div class="table table_style2">
                                <div class="card-body bg-light">
                                      <div class="tab-content">
                                        <div class="tab-pane fade show active" id="step01">  
                                            <!-- <div class="tab-pane fade show active" id="step01">   -->
                                            <div class="container-fluid"> 
                                                <div id="wtab01Grid_div" ></div>
                                                <div id="tab01Pager"></div>
                                            </div>   
                                        </div>
                                        <div class="tab-pane fade show" id="step02">  
                                            <div class="container-fluid"> 
                                                <div id="wtab01Grid_div" ></div>
                                                <div id="tab01Pager"></div>
                                            </div>   
                                        </div>
                                        <div class="tab-pane fade" id="step03">
                                            <div class="container-fluid">
                                                <div id="chartTabB"></div>
                                              </div>
                                        </div>
                                        <!-- <div class="tab-pane fade" id="step03">
                                            <div class="container-fluid">
                                                <select id="typeMenu">
                                                  <option value="0" selected="selected">사분면(Squarified)</option>
                                                  <option value="1">수평(Horizontal)</option>
                                                  <option value="2">수직(Vertical)</option>
                                                </select>
                                                <div id="chartTabC"></div>
                                            </div>
                                        </div> -->
                                      </div>
                                </div>
                            </div>                       
                                                        
                        </div>
                    </div>
                </div>
                <!-- 우측 전체 테이블 -->
                <div class="sec_con" style="width: 60%;">
                    <div class="box_wrap">
                        <form action="">
                            <div class="table table_style1">
                                <table>
                                    <tbody>
                                        <tr>
                                        <th>접수일자</th>
                                        <td>
                                            <div class="input_wrap">
                                                <input type="text" placeholder="값호출" disabled>
                                            </div>
                                        </td>
                                        <th>접수번호</th>
                                        <td>
                                            <div class="input_wrap">
                                                <input type="text" placeholder="값호출" disabled>
                                            </div>
                                        </td>
                                       <th>공유가능</th>                                       
                                          <td>
                                            <input type="checkbox" id="share">
                                            <label for="share" class="check_style1 no_txt"></label>
                                          </td>                                            
                                        </tr>
                                    <tr>
                                        <th>현장명</th>
                                        <td>
                                            <div class="input_wrap">
                                                <input type="text" name="actnmz" id="actnmz" placeholder="값호출" disabled>
                                            </div>
                                        </td>
                                        <th>호기명</th>
                                        <td>
                                            <div class="input_wrap">
                                                <input type="text" name="actequpnmz" id="actequpnmz" placeholder="값호출" disabled>
                                            </div>
                                        </td>
                                        <th>처리자</th>
                                        <td>
                                            <div class="input_wrap">
                                                <input type="text" name="actpernmz" id="actpernmz" placeholder="호출" disabled>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>도착일자</th>
                                        <td>
                                            <div class="input_wrap date">
                                                <input type="hidden" name="actarrivdatez" id="actarrivdatez">
                                                <input type="text" class="form-control datetimepicker" id="todate2" autocomplete="off"  placeholder="Y-m-d">
                                            </div>
                                        </td>
                                        <th>도착시간</th>
                                        <td colspan="3">
                                            <div class="input_wrap">
                                                <!-- 텍스트 필드 선택시 indicator 
                                                https://www.nextree.co.kr/p9887/ datepicker option
                                            
                                                -webkit-calendar-picker-indicator 사용
                                                https://kasumil.tistory.com/193-->
                                                <input type="hidden" name="actarrivtimez" id="actarrivtimez">
                                                <input type="time"  id="frtime" autocomplete="off" >
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>완료일자</th>
                                        <td>
                                            <div class="input_wrap date">
                                                <input type="hidden" name="actcompdatez" id="actcompdatez">
                                                <input type="text"  class="form-control datetimepicker" id="codate" autocomplete="off"  placeholder="Y-m-d">
                                            </div>
                                        </td>
                                        <th>완료시간</th>
                                        <td colspan="3">
                                            <div class="input_wrap">
                                                <input type="hidden" name="actcomptimez" id="actcomptimez">
                                                <input type="time"  class="form-control " id="totime" autocomplete="off" >
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>고장내용</th>
                                        <td colspan="5">
                                            <div class="input_wrap">
                                                <input type="text" name="actddz" id="actddz" placeholder="값호출" disabled>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>고장상세내용</th>
                                        <td colspan="5">
                                            <div class="input_wrap table_btn">
                                                <input type="text" name="actregicdz" id="actreginmz" placeholder="값호출" disabled>
                                                <button class="btn2" type="button">유사사례 찾아보기</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>고장부위</th>
                                        <td>
                                            <div class="input_wrap table_search">
                                                <input class="form-control" type="text"  placeholder="고장부위를 입력하세요" id="actnmz" name="actnmz" aria-label="actnmz" aria-describedby="basic-addon1">                                    
                                                <input class="form-control form-control-sm"  type="hidden"  id="gregicd"> 
                                                <button class="btn1" type="button"><img th:src="@{/assets/images/i_search2.png}" alt=""></i></button>
                                            </div>
                                        </td>
                                        <th>고장부위상세</th>
                                        <td colspan="3">
                                            <div class="input_wrap table_btn">
                                                <div class="input_wrap table_search " style="width: 100%;">
                                                    <input class="form-control" type="text"  placeholder="고장상세를 입력하세요" id="regicd" name="regicd" aria-label="regicd" aria-describedby="basic-addon1">                                    
                                                    <input class="form-control form-control-sm"  type="hidden"  id="regicd"> 
                                                    <button class="btn1" type="button"><img th:src="@{/assets/images/i_search2.png}" alt=""></i></button>
                                                </div>
                                                <button class="btn2" type="button">유사사례 찾아보기</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>고장요인</th>
                                        <td>
                                            <div class="input_wrap table_search">
                                                <input class="form-control" type="text"  placeholder="고장요인을 입력하세요" id="actnmz" name="actnmz" aria-label="actnmz" aria-describedby="basic-addon1">                                    
                                                <input class="form-control form-control-sm"  type="hidden"  id="remocd"> 
                                                <button class="btn1" type="button"><img th:src="@{/assets/images/i_search2.png}" alt=""></i></button>
                                            </div>
                                        </td>
                                        <th>고장원인</th>
                                        <td colspan="3">
                                            <div class="input_wrap table_btn">
                                                <div class="input_wrap table_search " style="width: 100%;">
                                                    <input class="form-control" type="text"  placeholder="고장원인을 입력하세요" id="regicd" name="regicd" aria-label="regicd" aria-describedby="basic-addon1">                                    
                                                    <input class="form-control form-control-sm"  type="hidden"  id="faccd"> 
                                                    <button class="btn1" type="button"><img th:src="@{/assets/images/i_search2.png}" alt=""></i></button>
                                                </div>                                                
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>처리내용</th>
                                        <td>
                                            <div class="input_wrap table_search">
                                                <input class="form-control" type="text" placeholder="처리내용을 입력하세요" id="TB_E012" name="TB_E012" aria-label="TB_E012" aria-describedby="basic-addon1">                                    
                                                <input class="form-control form-control-sm"  type="hidden"  id="resucd  "> 
                                                <button class="btn1" type="button"><img th:src="@{/assets/images/i_search2.png}" alt=""></i></button>
                                            </div>
                                        </td>
                                        <th>처리결과</th>
                                        <td colspan="3">
                                            <div class="input_wrap table_search">
                                                <input class="form-control" type="text" placeholder="처리결과를 입력하세요" id="TB_E015" name="TB_E015" aria-label="TB_E015" aria-describedby="basic-addon1">                                    
                                                <input class="form-control form-control-sm"  type="hidden"  id="resultcd"> 
                                                <button class="btn1" type="button"><img th:src="@{/assets/images/i_search2.png}" alt=""></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>고장상세원인</th>
                                        <td colspan="5">
                                            <div class="input_wrap">
                                                <input type="text">
                                                <input type="hidden" name="remoremark" id="remoremark">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>처리내용상세</th>
                                        <td colspan="5">
                                            <div class="input_wrap">
                                                <input type="text" >
                                                <input type="hidden" name="resuremark" id="resuremark">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>고객요망사항</th>
                                        <td colspan="5">
                                            <div class="input_wrap">
                                                <input type="text">
                                                <input type="hidden" name="remark" id="remark">
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="btn_wrap">
                                    <button type="submit">저장</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>       



         <!--   고장접수마스터(TB_E401) 모달처리 -->
        <input class="form-control form-control-sm"  type="hidden" id="actnmbtn" data-bs-toggle="modal" data-bs-target="#actnmmodal"  />
 <!--------------------------------------------------------------------------------------->   
        <!-- 고장부위 MODAL FROM  -->  
        <div class="modal fade" id="actnmmodal" data-bs-keyboard="false"
        data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
            <div class="modal-dialog modal-lg mt-6" role="document" id = "modalForm01"
                style="max-width: 800px">
                <div class="modal-content border-0">
                    <div class="modal-body p-0" > 
                        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                            <!-- <h4 class="mb-1" id="modalExampleDemoLabel">현장검색</h4>  -->
                            <div class="search">
                                <div class="input_wrap">
                                    <input class="form-control form-control-sm" id="searchCode" type="text"   onkeyup="if(window.event.keyCode==13){searchpcode_rtn()}"
                                    placeholder="현장코드 / 현장명 "     />                                      
                                </div>
                                <button id="wactnmBtn">
                                    <img th:src="@{/assets/images/i_search.png}" alt=""> 
                                </button>
                            </div> 
                            <div  class="save_id" >
                                <input type="checkbox" id="conflag" value="1" checked>
                                <label for="conflag" class="check_style1">계약현장</label>
                            </div>
                        </div>   
                        <div class="container-fluid"> 
                            <div id="theGroupPanel"></div>
                            <div id="wactnmGrid_div" ></div>
                            <div id="thePager01"></div>
                        </div>   
                    </div>  

                    <div class="modal-footer">
                        <div class="row g-1">
                            <div class="col-auto">
                                <button class="badge-soft-primary dropdown-item rounded-1"
                                    type="button"  id="wactnmmodal_btn" data-bs-dismiss="modal">Close</button>
                            </div> 
                        </div>
                    </div>   

                </div>
            </div> 
        </div>  
<!--------------------------------------------------------------------------------------->         





<!--########################################자바 시작-->
 <script>

    
        
// 날짜 및 시간 표현 script     
        //gettoday,init_date script
        $(document).ready(function() {             
            getToday()
            fn_egov_init_date()
            $('datetimepicker').datetimepicker({
            });            

            $("#frdate").change(function(e){ 
                // from                
            })
            $("#todate").change(function(e){ 
                // untill                
            })
            
            $("#todate2").change(function(e){ 
                // 도착일자
            })
            $("#codate").change(function(e){ 
                // 완료일자
            })

            $("#frtime").change(function(e){ 
                // from                
            })
            $("#totime").change(function(e){ 
                // untill                
            })           
        })
        //시간 피킹 value selector #id .class
        //document.getElementById 는 객체를 가져올 때 사용된다.
        //var 중복선언가능, let 중복선언 불가 및 재할당 가능, const 중복선언 불가 재할당 불가
        //https://www.w3bai.com/ko/jsref/prop_input_time_value.html#gsc.tab=0
        function timeFunction() {
            var frtime = document.getElementById("#frtime").value;
            var totime = document.getElementById("#totime").value;
        }
        function getToday(){
            let today = new Date();   

            let year = today.getFullYear(); // 년도
            let month = today.getMonth() + 1;  // 월
            let date = today.getDate();  // 날짜
            let day = today.getDay();  // 요일
            if(date > 0 && date < 10) {date = "0" + date};
            let ls_frday = year + '-' + month + '-01' 
            let ls_today = year + '-' + month + '-' + date 
            document.getElementById('frdate').value = ls_frday; //날짜 조회 현재 시간 쿼리
            document.getElementById('todate').value = ls_today; 
        }
        function convert_time(timestamp){ 
            //현재시간
            var date = new Date(timestamp); 
            var year = date.getFullYear();
            var month = ("0" + (1 + date.getMonth())).slice(-2);
            var day = ("0" + date.getDate()).slice(-2); 
            var hh = date.getHours();  
            var min = ('0' + date.getMinutes()).slice(-2) 
            time = year +  month +  day   ;
            return time;  
           
        }
        function fn_egov_init_date(){
                //from_untill date pick 선택창
            var $frdate = $('#frdate');    //날짜조회from
            var $todate = $('#todate');    //날짜조회untill
            var $frdate2 = $('#frdate2'); //접수일~
            var $todate2 = $('#todate2'); //도착일
            var $codate = $('#codate'); //완료일자 
         
            $frdate.datetimepicker({ //from
                timepicker: false,
                lang: 'ko',
                format: 'Y-m-d',
                scrollMonth: false,
                scrollInput: false,
                onShow: function (ct) {                                    
                    this.setOptions({                        
                        // maxDate: $frdate.val() ? $frdate.val() : false
                    })
                },
            });

            $todate.datetimepicker({ //untill
                //from_untill date pick 끝
                timepicker: false,
                lang: 'ko',
                format: 'Y-m-d',    //'Y-m-d H:i',
                scrollMonth: false,
                scrollInput: false,
                onShow: function (ct) {
                    this.setOptions({
                        
                        // minDate: $todate.val() ? $todate.val() : false
                    })
                }
            });        

            $todate2.datetimepicker({ //도착일자
                //from_untill date pick 끝
                timepicker: false,
                lang: 'ko',
                format: 'Y-m-d',    //'Y-m-d H:i',
                scrollMonth: false,
                scrollInput: false,
                onShow: function (ct) {
                    this.setOptions({   
                        minDate: 0,                     
                        // minDate: $todate.val() ? $todate.val() : false
                    })
                }
            });

            $codate.datetimepicker({ //완료일자
                timepicker: false,
                lang: 'ko',
                format: 'Y-m-d',
                scrollMonth: false,
                scrollInput: false,
                onShow: function (ct) {                                    
                    this.setOptions({
                        minDate: 0,
                        // maxDate: $frdate.val() ? $frdate.val() : false
                    })
                },
            });     

        }  
        // <!--######################################## 시간 끝-->


 //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        //선택한 테이블 value 체크       
        // function tabchk_rtn(arg){
        //     document.getElementById('tabvalue').value = arg; 
        // }
        //option 선택시, grid 호출하는 거 해야함 미처리 value=dn
        function chageLangSelect(arg){
            document.getElementById("selectbox").value = arg;            
        }



        //     $(document).ready(function() {
        // $('#selectbox').change(function() {
        //     var result = $('#selectbox option:selected').val();
        //     if (result == 'dn') {
        //     $('wtab01Grid_div').show(); //미처리 테이블
        //     } else {
        //     $('wtab02Grid_div').hide(); //처리 테이블
        //     }
        // }); 
        // });    

 // tab01 검색   
        document.getElementById("selectbox").addEventListener("click",function(){ 
            //조회시임.
            var ls_tab = document.getElementById('selectbox').value; 
            let ls_frdate = document.getElementById('frdate').value; 
            let ls_todate = document.getElementById('todate').value;  
            let ls_actcdz = document.getElementById('actcdz').value; 
            let ls_actnmz = document.getElementById('actnmz').value;  
            // let ls_actcontcdz = document.getElementById('actcontcdz').value;
            // let ls_actcontnmz = document.getElementById('actcontnmz').value;
            if(ls_actnmz == null || ls_actnmz.length == 0 || ls_actnmz == ""){
                ls_actcdz = "%";
                document.getElementById('actcdz').value = ""; 
            }  
            if(ls_actcontnmz == null || ls_actcontnmz.length == 0 || ls_actcontnmz == ""){                
                ls_actcontcdz = "%";
                document.getElementById('actcontcdz').value = "";  
            }  
            if(ls_actcdz == null || ls_actcdz.length == 0 || ls_actcdz == ""){
                ls_actcdz = "%";
            }  
            if(ls_actcontcdz == null || ls_actcontcdz.length == 0 || ls_actcontcdz == ""){
                ls_actcontcdz = "%";
            }   
            searchList_rtn(ls_tab, ls_frdate, ls_todate, ls_actcdz , ls_actcontcdz);
        })   

        
        function searchList_rtn(arg1, arg2, arg3, arg4, arg5){ 
            switch(arg1){
                case 'A':
                    $.ajax({
                        url: '/app10/p001tab01',  
                        type:"POST",
                        data: { 
                            "frdate"      : arg2,  
                            "todate"      : arg3 ,  
                            "actcdz"      : arg4 ,  
                            "actcontcdz"  : arg5  
                        }, 
                        async:false,
                        success:function(data){   
                            tabA_grid(data);
                        },error:function(e){
                            console.log("error");
                            // alert(data.code);
                            // alert(data.message);
                        }
                    }).done(function(fragment){           

                    })  
                    break;
                case 'B': 
                    barChartInit01(arg1, arg2, arg3, arg4, arg5)
                    break;
                // case 'C':
                //     barChartInit02(arg1, arg2, arg3, arg4, arg5)
                //     break;                
                default:    
                    break;                
            }
        

        }       
        //  tab01 grid
        function tabA_grid(data){
            var wtab01Dto  = data;    
            var wtab01_data = [];
            var cnt = 1;
            for (var i = 0; i < wtab01Dto.length; i++) {
                wtab01_data.push({
                    id: i, 
                    index: cnt,
                    recedate: wtab01Dto[i]["recedate"],
                    recenum: wtab01Dto[i]["recenum"],
                    recetime: wtab01Dto[i]["recetime"],
                    actnm: wtab01Dto[i]["actnm"],
                    equpnm: wtab01Dto[i]["equpnm"],
                    actpernm: wtab01Dto[i]["actpernm"],                                                                                      
                });
                cnt++;
            }   
            // console.log("wtab01_data",wactnm_data) +
            // console.log(wtab01_data.length);
            wtab01Grid.columns.clear();  
            wtab01Grid.autoGenerateColumns = false; 
            view_p01tab01page.sourceCollection  = wtab01_data;
            var cols = new wijmo.grid.Column(); 
            cols.binding = 'recedate';
            cols.header = '접수일자';
            cols.align = "center";
            cols.width = '*';
            cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                text: '<b>${item.recedate}</b>',
                click: (e, ctx) => {
                    wactnmChk_3(ctx.item.recedate, ctx.item.recenum);
                }
            });
            wtab01Grid.columns.push(cols);    
            // console.log("cols", cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'recetime';
            cols.header = '접수시간';
            cols.align = "center";
            cols.width = '1*'; 
            wtab01Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'actnm';
            cols.header = '현장명';
            cols.align = "left";
            cols.width = '2*'; 
            wtab01Grid.columns.push(cols);  
            cols = new wijmo.grid.Column(); 
            cols.binding = 'equpnm';
            cols.header = '호기명';
            cols.align = "center";
            cols.width = '*'; 
            wtab01Grid.columns.push(cols);   
            cols = new wijmo.grid.Column(); 
            cols.binding = 'actpernm';
            cols.header = '담당자';
            cols.align = "center";
            cols.width = '*'; 
            wtab01Grid.columns.push(cols);    
            cols = new wijmo.grid.Column(); 
            cols.binding = 'contnm';
            cols.header = '고장내용';
            cols.align = "left";
            cols.width = '*'; 
            wtab01Grid.columns.push(cols); 
            cols = new wijmo.grid.Column(); 
            cols.binding = 'contremark';
            cols.header = '고장상세내용';
            cols.align = "left";
            cols.width = '3*'; 
            wtab01Grid.columns.push(cols);      
 
        }
        //모달그리드_현장       
        function searchpcode_rtn(){
            let searchText = '';  
            searchText = document.getElementById('searchCode').value;  
            let lsConflag = document.getElementById('conflag').value;  
            if(searchText == null || searchText.length == 0 || searchText == ""){
                searchText = "%";
            }            
            $.ajax({
                url: '/pop01/wactnm',  
                type:"POST",
                data: { 
                    "actnmz"      : searchText,  
                    "conflag"      : lsConflag  
                }, 
                success:function(data){ 
                    var wactnmDto  = data;    
                    var wactnm_data = [];
                    var cnt = 1;
                    for (var i = 0; i < wactnmDto.length; i++) {
                        wactnm_data.push({
                            id: i, 
                            index: cnt,
                            actnm:wactnmDto[i]["actnm"],
                            actcd: wactnmDto[i]["actcd"], 
                            telno: wactnmDto[i]["telno"]  , 
                            addr: wactnmDto[i]["addr"]                                                  
                        });
                        cnt++;
                    }   
                    // console.log("wactnm_data",wactnm_data) 
                    wactnmGrid.columns.clear();  
                    wactnmGrid.autoGenerateColumns = false; 
                    view_actnmpage.sourceCollection  = wactnm_data;
                    var cols = new wijmo.grid.Column(); 
                    cols.binding = 'actcd';
                    cols.header = '코드';
                    cols.align = "center";
                    cols.width = '*';
                    cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                        text: '<b>${item.actcd}</b>',
                        click: (e, ctx) => {
                            wactnmChk_2(ctx.item.actcd, ctx.item.actnm);
                        }
                    });
                    wactnmGrid.columns.push(cols);    
                    // console.log("cols", cols);  
                    cols = new wijmo.grid.Column(); 
                    cols.binding = 'actnm';
                    cols.header = '현장명';
                    cols.align = "left";
                    cols.width = '*'; 
                    wactnmGrid.columns.push(cols);  
                    cols = new wijmo.grid.Column(); 
                    cols.binding = 'telno';
                    cols.header = '전화번호';
                    cols.align = "center";
                    cols.width = '*';
                    cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                        text: '<b>${item.telno}</b>',
                        click: (e, ctx) => {
                            wactnmChk_2(ctx.item.actcd, ctx.item.actnm);
                        }
                    });
                    wactnmGrid.columns.push(cols);  
                    cols = new wijmo.grid.Column(); 
                    cols.binding = 'addr';
                    cols.header = '주소';
                    cols.align = "left";
                    cols.width = '*'; 
                    wactnmGrid.columns.push(cols);  
                },error:function(e){
                    alert(data.code);
                    alert(data.message);
                }
            }).done(function(fragment){           

            }) 
        }
        //모달그리드_value
        function wactnmChk_2(arg1, arg2){
            document.getElementById('actcdz').value = arg1; 
            document.getElementById('actnmz').value = arg2;     

            $("#wactnmmodal_btn").trigger("click");
        }
        //모달그리드2       
        function searchtxt_rtn(){
            let searchText = '';  
            searchText = document.getElementById('searchTxtCode').value;   
            if(searchText == null || searchText.length == 0 || searchText == ""){
                searchText = "%";
            }
            // console.log('ls_cltcd-->' + ls_cltcd);
            $.ajax({
                url: '/pop01/wcontnm',  
                type:"POST",
                data: { 
                    "contnmz"      : searchText, 
                }, 
                success:function(data){ 
                    console.log(data);
                    var wcontnmDto  = data;    
                    var wcontnm_data = [];
                    var cnt = 1;
                    for (var i = 0; i < wcontnmDto.length; i++) {
                        wcontnm_data.push({
                            id: i, 
                            index: cnt,
                            contnm:wcontnmDto[i]["contnm"],
                            contcd: wcontnmDto[i]["contcd"],                                             
                        });
                        cnt++;
                    }   
                    // console.log("wcontnm_data",wcontnm_data) 
                    wcontnmGrid.columns.clear();  
                    wcontnmGrid.autoGenerateColumns = false; 
                    view_contnmpage.sourceCollection  = wcontnm_data;
                    var cols = new wijmo.grid.Column(); 
                    cols.binding = 'contcd';
                    cols.header = '코드';
                    cols.align = "center";
                    cols.width = '*';
                    cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                        text: '<b>${item.contcd}</b>',
                        click: (e, ctx) => {
                            wactnmChk_1(ctx.item.contcd, ctx.item.contnm);
                        }
                    });
                    wcontnmGrid.columns.push(cols);    
                    // console.log("cols", cols);  
                    cols = new wijmo.grid.Column(); 
                    cols.binding = 'contnm';
                    cols.header = '고장내용';
                    cols.align = "left";
                    cols.width = '*'; 
                    wcontnmGrid.columns.push(cols);    
                },error:function(e){
                    alert(data.code);
                    alert(data.message);
                }
            }).done(function(fragment){           

            })  

        }
        //모달그리드2_value     
        function wactnmChk_1(arg1, arg2){
                document.getElementById('actcontcdz').value = arg1; 
                document.getElementById('actcontnmz').value = arg2;   
                $("#wcontnmmodal_btn").trigger("click");
            }

            

//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
const barChartInit01 = (arg1, arg2, arg3, arg4, arg5) => { 
        
        var tab02_data = getDataTabB(arg2, arg3, arg4, arg5);
        // // console.log(tab02_data);
        // // console.log(wseries_data);        
        barchart = new wijmo.chart.FlexChart('#chartTabB', {
            header: '현장별고장내용',
            legend: {
                position: wijmo.chart.Position.Bottom
            },
            bindingX: 'contnm', 
            series: wseries_data,
            selectionMode: wijmo.chart.SelectionMode.Point,
            itemsSource: tab02_data,
            palette: ['#0288D1',
                '#FFC107',
                '#FF7043',
                "#EF5350"]
        });
        
        ani = new wijmo.chart.animation.ChartAnimation(barchart);
    }

    function getDataTabB(arg2, arg3, arg4, arg5) {  
        if(arg4 == null || arg4.length == 0 || arg4 == "" || arg4 == "%"){ 
            alert("처리상태를 선택하세요")
            return 
        }  
        var wtab02_data = [];
        $.ajax({
            url: '/app10/p001tab02',  
            type:"POST",
            data: { 
                "frdate"      : arg2,  
                "todate"      : arg3 ,  
                "actcdz"      : arg4 ,  
                "actcontcdz"  : arg5  
            }, 
            async:false,
            success:function(data){  
                var wtab02Dto  = data;
                var cnt = 1;
                var ls_tmpchk;
                for (var i = 0; i < wtab02Dto.length; i++) {
                    let yyyymm = wtab02Dto[i]["recedate"]; 
                    wtab02_data.push({
                        id: i, 
                        index: cnt, 
                        contnm: wtab02Dto[i]["contnm"],
                        [yyyymm]: wtab02Dto[i]["cnt"],      
                        recedate: wtab02Dto[i]["recedate"],   
                                                        
                    }); 
                    if (ls_tmpchk !== yyyymm){ 
                        wseries_data.push({
                            binding: wtab02Dto[i]["recedate"], 
                            name: wtab02Dto[i]["recedate"]                                       
                        }); 
                    }
                    ls_tmpchk = yyyymm;
                    cnt++;
                }     
                return wtab02_data;    
            },error:function(e){
                console.log("error");                
            }
                
        }).done(function(fragment){           

        }) 

        var ls_arr = []
        ls_arr = wtab02_data       
        return ls_arr;        
        
    };  
    //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


// 그리드 호출
         var view_p01tab01page;
         var view_actnmpage;
         var view_contnmpage;
         var wtab01Grid;
         var wactnmGrid;
         var wcontnmGrid;
         var typeMenu;  
         var treemap;
         let barchart;
         let ani;
         var wseries_data = [0]; 

         window.onload = function() {  
            localStorage.setItem("setpage", "app10p001");
            // tab02 차트그리기 ~ grid 대신 사용
            // Tab02Chartinit()
            //tab03 차트그리기
            // Tab03Chartinit()
            //tab01 grid popup list
            view_p01tab01page = new wijmo.collections.CollectionView(getData_tab01(), {
                pageSize: 20
            });
            // tab01 grid page
            new wijmo.input.CollectionViewNavigator('#tab01Pager', {
                byPage: true,
                headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
                cv: view_p01tab01page
            });     
            wtab01Grid = new wijmo.grid.FlexGrid('#wtab01Grid_div', {  
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: false, 
                // selectionMode: 'RowRange',
                allowSorting: 'MultiColumn',
                alternatingRowStep: 0,
                columns: [    
                    // { binding: 'pcode', header: '코드', width: '*', format: '*' }, 
                    { binding: 'recedate', header: '접수일자', align: "center", width: '*' }, 
                    // { binding: 'recetime', header: '접수시간', align: "center", width: '*' }, 
                    // { binding: 'actnm', header: '현장명', align: "center", width: '*' },  
                    // { binding: 'equpnm', header: '호기명', align: "center", width: '*' },  
                    // { binding: 'actpernm', header: '담당자', align: "center", width: '*' },  
                    // { binding: 'contnm', header: '고장내용', align: "center", width: '*' },  
                    // { binding: 'contremark', header: '현장명', align: "center", width: '*' },  
                    // { binding: 'actnm', header: '고장상세내용', align: "center", width: '*' },   
                    // { binding: 'psize', header: '규격', width: '*', format: '*' }  
                ], 
                itemsSource: view_p01tab01page
            });            

            // tab01검색 데이터 수집
            function getData_tab01(){    
                var wactnm_data = []; 
                var cnt = 1;
                for (var i = 0; i < 20; i++) {
                    wactnm_data.push({
                        id: i, 
                        index: cnt,
                        recedate: "",
                        recetime: "",
                        actnm: "",
                        equpnm: "",
                        actpernm: "",
                        pernm: "",
                        equpnm: "",
                        contnm: "",
                        contremark: "", 
                    });
                    cnt++;
                }    
                return wactnm_data;                                         
            } 

        } 



// modal script, searchCode 모달 호출 스크립트
function searchpcode_rtn(){
            let searchText = '';  
            searchText = document.getElementById('searchCode').value;  
            let lsConflag = document.getElementById('conflag').value;  
            if(searchText == null || searchText.length == 0 || searchText == ""){
                searchText = "%";
            }            
            $.ajax({
                url: '/pop01/wactnm',  
                type:"POST",
                data: { 
                    "actnmz"      : searchText,  //현장명
                    "conflag"      : lsConflag  //계약현장
                }, 
                success:function(data){ 
                    var wactnmDto  = data;    
                    var wactnm_data = [];
                    var cnt = 1;
                    for (var i = 0; i < wactnmDto.length; i++) {
                        wactnm_data.push({
                            id: i, 
                            index: cnt,
                            actnm:wactnmDto[i]["actnm"],
                            actcd: wactnmDto[i]["actcd"], 
                            telno: wactnmDto[i]["telno"]  , 
                            addr: wactnmDto[i]["addr"]                                                  
                        });
                        cnt++;
                    }   
                    // console.log("wactnm_data",wactnm_data) 
                    wactnmGrid.columns.clear();  
                    wactnmGrid.autoGenerateColumns = false; 
                    view_actnmpage.sourceCollection  = wactnm_data;
                    var cols = new wijmo.grid.Column(); 
                    cols.binding = 'actcd';
                    cols.header = '코드';
                    cols.align = "center";
                    cols.width = '*';
                    cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                        text: '<b>${item.actcd}</b>',
                        click: (e, ctx) => {
                            wactnmChk_2(ctx.item.actcd, ctx.item.actnm);
                        }
                    });
                    wactnmGrid.columns.push(cols);    
                    // console.log("cols", cols);  
                    cols = new wijmo.grid.Column(); 
                    cols.binding = 'actnm';
                    cols.header = '현장명';
                    cols.align = "left";
                    cols.width = '*'; 
                    wactnmGrid.columns.push(cols);  
                    cols = new wijmo.grid.Column(); 
                    cols.binding = 'telno';
                    cols.header = '전화번호';
                    cols.align = "center";
                    cols.width = '*';
                    cols.cellTemplate = wijmo.grid.cellmaker.CellMaker.makeLink({ 
                        text: '<b>${item.telno}</b>',
                        click: (e, ctx) => {
                            wactnmChk_2(ctx.item.actcd, ctx.item.actnm);
                        }
                    });
                    wactnmGrid.columns.push(cols);  
                    cols = new wijmo.grid.Column(); 
                    cols.binding = 'addr';
                    cols.header = '주소';
                    cols.align = "left";
                    cols.width = '*'; 
                    wactnmGrid.columns.push(cols);  
                },error:function(e){
                    alert(data.code);
                    alert(data.message);
                }
            }).done(function(fragment){           
            }) 
        }
        
        //@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 모달 검색 window.onload 검색 @@@@@@@@@@@@@@@@@@@@@@@@@@@

        //$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        //현장 검색   
        document.getElementById("actnmz").addEventListener("click",function(){ 
            document.getElementById("actnmbtn").click();
        }); 
        //고장부위검색 1 row grid pupup list        
        view_contnmpage = new wijmo.collections.CollectionView(getData_wlist01(), {
                pageSize: 12
            });
        // 고장부위검색 페이지 이동
            new wijmo.input.CollectionViewNavigator('#thePager02', {
                byPage: true,
                headerFormat: 'Page {currentPage:n0} of {pageCount:n0}',
                cv: view_contnmpage
            });     
            wcontnmGrid = new wijmo.grid.FlexGrid('#wactnmGrid_div', {  
                autoGenerateColumns: false,
                isReadOnly: false, 
                selectionMode: 'RowRange',
                alternatingRowStep: 0,
                columns: [   
                    { binding: 'contcd', header: '고장부위', align: "center", width: '1*' },                    
                ], 
                itemsSource: view_contnmpage
            });  
           // 고장내용검색 데이터 수집
           function getData_wlist01(){   
                var wcontnm_data = []; 
                var cnt = 1;
                for (var i = 0; i < 12; i++) {
                    wcontnm_data.push({
                        id: i, 
                        index: cnt,
                        contcd: "",
                        contnm: "", 
                    });
                    cnt++;
                }    
                return wcontnm_data;                                         
            }  
    

        
// 자바 끝
 </script>
    
    <!------ html footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 

    <!-- modal script -->
    <!-- class="modal_step_open" modal_step="1" -->
    <div class="modal modal modal_step modal_step1 hidden">
        <div class="modal_overlay">
        </div>
        <div class="modal_content modal_sm scrollbar">
            <div class="layoutCont">  
                <div class="modalContWrap">
                    <!-- <div class="modal_close cancerButton">
                      <img th:src="@{/assets/images/modal_close.png}" alt="모달 닫기버튼">
                    </div>                       -->
                    <div class="modal_head">
                    </div>
                    <div class="modal_con scrollbar">
                      모든 정보를 입력하세요.                          
                    </div>

                </div>
                <div class="modal_btn">
                    <button class="cancerButton " type="button">확인</button>
                </div>
                <!-- <div class="modal_btn flex">
                    <button class="cancerButton " type="button">확인</button>
                    <button class="cancerButton " type="button">확인</button>                        
                </div> -->
            </div>
        </div>
    </div></div>

</body>
</html>