<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/XRegister/head :: headFragment" />
<body style="background: #f5f9fa;">
<header>

</header>
<div class="content flex">
    <div class="header">
        <div class="left">
            <div class="ham">
                <button type="button"><img src="/images/ham.png" alt=""></button>
            </div>
            <div class="nav_bg"></div>
            <ul class="nav">
                <li>
                    <button type="button"><img src="/images/header_icon1.png" alt=""></button>
                    <div class="depth2">
                        <div class="dep_main">
                            <a href="./center.html">
                                <button type="button">
                                    종합유지관리서비스
                                </button>
                            </a>
                        </div>
                        <ul>
                            <li><a href="./center.html"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고객상담센터</a></li>
                            <li><a href="./control.html"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장접수관제현황</a></li>
                            <li><a href="./registration"><i><img class="dot1" src="/images/i_dot_header.png" alt=""><img class="dot2" src="/images/i_dot_header2.png" alt=""></i>고장처리등록</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button type="button"><img src="/images/header_icon2.png" alt=""></button>
                    <div class="depth2">
                        <div class="dep_main">
                            <a href="">
                                <button type="button">
                                    통계관리
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <button type="button"><img src="/images/header_icon3.png" alt=""></button>
                    <div class="depth2 on">
                        <div class="dep_main">
                            <a href="./reference.html">
                                <button type="button">
                                    기술자료실
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <button type="button"><img src="/images/header_icon4.png" alt=""></button>
                    <div class="depth2">
                        <div class="dep_main">
                            <a href="">
                                <button type="button">
                                    수리노하우
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <button type="button"><img src="/images/header_icon5.png" alt=""></button>
                    <div class="depth2">
                        <div class="dep_main">
                            <a href="">
                                <button type="button">
                                    고객케어센터
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <button type="button"><img src="/images/header_icon6.png" alt=""></button>
                    <div class="depth2">
                        <div class="dep_main">
                            <a href="/app05/mnotice">
                                <button type="button">
                                    공지사항
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <button type="button"><img src="/images/header_icon7.png" alt=""></button>
                    <div class="depth2">
                        <div class="dep_main">
                            <a href="">
                                <button type="button">
                                    고객지원
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right">
        </div>
    </div>
    <div class="con">
        <div class="header_top">
            <ul class="left">
                <li>
                    <div class="logo">
                        <a href="">
                            <img src="/images/logo.png" alt="">
                        </a>
                    </div>
                </li>
                <li class="home">
                    <a><img src="/images/i_home.png" alt=""></a>
                    <a><img src="/images/i_home_on.png" alt=""></a>
                </li>
                <li class="on">
                    자료실
                </li>
                <!-- <li class="on">
                    고장접수관제현황
                </li> -->
            </ul>
            <ul class="right">
                <li>
                    <a href="">
                        <img src="/images/i_call.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/i_bell.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/i_menu.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/i_que.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/i_user.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="infor_bar type2">
            <div class=""></div>
            <div class="left">
                자료실
            </div>
            <div class=""></div>

        </div>
        <div class="section ">

            <div class="sec_con" style="width: 100%;">
                <div class="box_wrap">
                    <div class="reference_tit">
                        <div class="refer_wrap">
                            <div class="title">
                                제목
                            </div>
                            <p th:text="${view.nsubject}"></p>
                        </div>
                        <div class="refer_wrap">
                            <div class="date">
                                일자
                            </div>
                            <p th:text="${view.ninputdate}"></p>
                        </div>
                    </div>
                    <div class="table table_style3">
                        <table>
                            <tr>
                                <th style="width: 7%;">분류</th>
                                <td style="width: 93%">분류가 나옵니다.</td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td th:text="${view.nmemo}"></td>
                            </tr>
                            <tr>
                                <th>첨부파일</th>
                                <td>
                                    <a href="" download="">도면2.jpg</a><br/>
                                    <a href="" download="">도면2.jpg</a><br/>
                                    <a href="" download="">도면2.jpg</a><br/>
                                    <a href="" download="">도면2.jpg</a><br/>
                                    <a href="" download="">도면2.jpg</a><br/>
                                </td>
                            </tr>
                            <tr>
                                <th>미리보기</th>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer>

</footer>

<!-- modal -->
<!-- class="modal_step_open" modal_step="1" -->

<div class="modal modal modal_step modal_step1 hidden">
    <div class="modal_overlay">
    </div>
    <div class="modal_content modal_sm scrollbar">
        <div class="layoutCont">
            <div class="modalContWrap">
                <!-- <div class="modal_close cancerButton">
                  <img src="/images/modal_close.png" alt="모달 닫기버튼">
                </div>                       -->
                <div class="modal_head">
                </div>
                <div class="modal_con scrollbar">
                    모든 정보를 입력하세요.
                </div>

            </div>
            <div class="modal_btn">
                <button class="cancerButton " type="button">확인</button>
            </div>
            <!-- <div class="modal_btn flex">
                <button class="cancerButton " type="button">확인</button>
                <button class="cancerButton " type="button">확인</button>
            </div> -->
        </div>
    </div>
</div>

</body>
</html>