<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/appheadcontroll :: headFragment" />
<style>
    .sec_con .scrollbar{
        width: 300px !important;
    }
    .check_list.scrollbar::-webkit-scrollbar-thumb{
        background-color: rgb(233, 233, 233);
        border: 4px solid #c9c7c7;
    }

</style>

<body style="background: #f5f9fa;">
    <form class="row gy-2 gx-4 align-items-center" role="form" th:object="${userFormDto}" ></form>
    <div class="content flex">
        
            <div class="header on">
                <div class="left">
                    <div class="ham">
                        <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                    </div>
                    <div class="nav_bg"></div>                        
                    <!-- ## Left navigator include -->
                    <th:block th:include="layouts/APPHeader/appLeftNav" />
                </div> 
                <div class="right">
                </div>
            </div>
            <div class="con" style="padding-top: 103px;">              
                <!-- ## header top include -->
                <th:block th:include="layouts/APPHeader/appheadTop" /> 
                <div class="infor_bar except">
                    <ul class="left"  >
                        <li  >
                            <i><img th:src="@{/assets/images/i_circle1.png}" alt=""></i>
                            금일수신 &nbsp;<span th:text="${app03DtoList03[0].callcount}"> </span>                              
                        </li>
                        <li>
                            <i><img th:src="@{/assets/images/i_circle2.png}" alt=""></i>
                            고장접수 &nbsp;<span th:text="${app03DtoList03[0].rececnt}"> </span>  
                        </li>
                        <li>
                            <i><img th:src="@{/assets/images/i_circle3.png}" alt=""></i>
                            콜백예약 &nbsp;<span th:text="${app03DtoList03[0].callback}"> </span>  
                        </li>
                        <li>
                            <i><img th:src="@{/assets/images/i_circle4.png}" alt=""></i>
                            당일처리 &nbsp;<span th:text="${app03DtoList03[0].compcnt}"> </span>  
                        </li>
                    </ul>
                    <ul class="right">
                        <li>
                            <button type="button" class="color1">
                                금일접수현황
                            </button>
                        </li>
                        <li>
                            <button type="button" class="color2">
                                접수현황 모두보기
                            </button>
                        </li>
                        <li>
                            <button type="button" class="color3">
                                기사현황 모두보기
                            </button>
                        </li>
                    </ul>
                </div>


                <div class="section control">
                    <div class="sec_con" style="width: 20%;">
                        <div class="box_input" >
                        <div class="date_wrap">
                            <input type="text"  class="form-control flatpickr" id="frdate" autocomplete="off"  placeholder="Y-m-d">
                            <span>-</span>
                            <input type="text" class="form-control flatpickr" id="todate" autocomplete="off"  placeholder="Y-m-d">
                        </div>
                    </div>
                        <div class="box_wrap in_tit"   >
                            <div class="tit">접수현황 LIST</div>
                            <div class="search">
                                <div class="input_wrap">
                                    <input type="text" placeholder="현장명" id="actnmz" name="actnmz">
                                </div>
                                <button type="button" onclick="search_rtn()">
                                    <img th:src="@{/assets/images/i_search.png}" alt="">
                                </button>
                            </div>    
                            
                            
                            <div id="retrieveDiv">
                                <ul class="check_list scrollbar" style="overflow-y: scroll; height: 610px; width: 370px;" >

                                    <li class="receipt" th:each="formdata: ${app03DtoList}" >
                                        <div class="left">
                                            <div class="img">
                                                <i><img th:src="@{/assets/images/status1.png}" alt=""></i>
                                                <div class="badge bg-info" th:text="${formdata.recedate} ">접수일자</div>
                                                <div class="badge bg-primary" th:text="${formdata.recetime}">접수시간</div>
                                                <!-- <h9 th:text="${formdata.recedate}">고장접수</h9>&nbsp;<span th:text="${formdata.recetime}"></span> -->
                                            </div>
                                            <div class="number">
                                                <!-- <h9 th:text="${formdata.actnm}" th:onclick="map_dis(${formdata.addrtxt})">삼성리더스타워</h9><br> -->
                                                <h9><a href="#" th:id="${formdata.actnm}" th:onclick="map_dis([[${formdata.addrtxt}]],[[${formdata.actnm}]],[[${formdata.recetime}]],[[${formdata.actpernm}]],[[${formdata.equpnm}]],[[${formdata.contnm}]],[[${formdata.tel}]])" th:text="${formdata.actnm}">삼성리더스타워</a></h9><br>
                                                <h10 th:text="${formdata.tel}">02-6959-5020</h10>   
                                            </div>
                                        </div>
                                        <div class="name" th:text="${formdata.actpernm}">홍길동</div> 
                                    </li>

                                </ul> 
                            </div>
                         </div> 
                         <!-- <input type="hidden" id="tempDiv"  > -->
                    </div>      
                    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->  
                    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->    
 
                    <div class="sec_con" style="width: 60%;">
                        <div class="box_wrap" style="padding: 0; position: relative;">
                             
                            <!-- 이미지 지도를 표시할 div 입니다 -->
                            <div id="map" style="width:100%;height:700px;"></div>
                            <!-- <div id="staticMap" style="width:300px;height:650px;"></div>   -->
                        

                            
                             

                         </div>
                    </div>                    

                    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->  
                    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->  
                    <div class="sec_con" style="width: 20%;">
                        <div class="box_wrap in_tit" style="background: #f4f4f4;">
                            <div class="tit">수리기사LIST</div>
                            <div class="search">
                                <div class="input_wrap">
                                    <input type="text" placeholder="전화번호/사원명">
                                </div>
                                <button>
                                    <img th:src="@{/assets/images/i_search.png}"   alt="">
                                </button>
                            </div>
                            <ul class="check_list scrollbar" style="overflow-y: scroll; height: 650px;"> 
                                <li class="receipt" th:each="formdata: ${app03DtoList02}" >

                                    <div class="left"> 
                                        <i><img th:src="@{/assets/images/user1.png}" alt="동선보기"></i> 
                                        <!-- <div class="avatar-name rounded-circle bg-soft-warning text-dark"><span class="fs-0 text-warning" th:text="${#strings.substring(formdata.pernm,0,1)}">F</span></div> -->
                                        <div class="txt">
                                            <h9><a href="#" th:id="${formdata.pernm}" th:onclick="geo_dis([[${formdata.addrtxt}]],[[${formdata.actnm}]],[[${formdata.recetime}]],[[${formdata.pernm}]],[[${formdata.telycodrdi}]],[[${formdata.telxcoordi}]],[[${formdata.teltime}]])" th:text="${formdata.pernm}">삼성리더스타워</a></h9>
                                            <span class="badge rounded-pill ms-2 bg-200 text-primary" ><a href="#"  th:onclick="line_rtn([[${formdata.handphone}]])" >동선보기</a></span><br>
                                            <p th:text="${formdata.actnm}">금천 자이 아파트</p>
                                        </div>
                                    </div>
                                    <div class="state">
                                        <h10 th:text="${formdata.handphone}">02-6959-5020</h10>   
                                    </div> 
                                </li>  
                                 
                             </ul>
 


                        </div>       
                    </div>     

                    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->  
                    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->  
 
                </div>  <!--  <div class="section control">  -->

                    
            </div> <!--  <div class="content flex"> --> 
    </div>  <!--  <div class="content flex"> -->


    <script type="text/javascript" th:inline="javascript">
        var mapContainer ;
        var map ;
        var geocoder ;
        var markerPosition ;
        var markers ;
        var staticMap ;
        var staticMapContainer ;
        var lngY ;
        var lngX ; 
    function map_init(){ 
        mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                                    mapOption = { 
                                        center: new kakao.maps.LatLng(37.4803552, 126.884151),    // 지도의 중심좌표
                                        level: 3 // 지도의 확대 레벨
                                    };
                                
        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        map = new kakao.maps.Map(mapContainer, mapOption);  // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 


        if (navigator.geolocation) {
            
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {
                
                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도
                
                var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                    message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
                
                // 마커와 인포윈도우를 표시합니다
                displayMarker(locPosition, message);
                    
            });
            
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
            
            var locPosition = new kakao.maps.LatLng(37.4803552, 126.884151),    
                message = 'geolocation을 사용할수 없어요..'
                
            displayMarker(locPosition, message);
        }

        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
        function displayMarker(locPosition, message) {

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({  
                map: map, 
                position: locPosition
            }); 
            
            var iwContent = message, // 인포윈도우에 표시할 내용
                iwRemoveable = true;

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });
            
            // 인포윈도우를 마커위에 표시합니다 
            infowindow.open(map, marker);
            
            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(locPosition);      
        }    
        // geocoder = new kakao.maps.services.Geocoder();       
    }


    function map_dis(addr, actnm, recetime, actpernm, equpnm, cotnm, tel){
 
        var geo_data = [];
        // console.log(addr);
        $.ajax({
            url: '/app01mod/getgeocode',  
            type:"POST",
            data: { 
                "addrtext"      : addr 
            }, 
            async:false,
            success:function(data){    
                var GeoDto  = JSON.parse(data);
                var lngY = GeoDto.documents[0].y;
                var lngX = GeoDto.documents[0].x;
                // console.log(GeoDto.documents[0].x) ;  
                // console.log(GeoDto.documents[0].y) ; 
                mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                    mapOption = { 
                        center: new kakao.maps.LatLng(lngY, lngX), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };
                // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
                map = new kakao.maps.Map(mapContainer, mapOption);   
                // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                var mapTypeControl = new kakao.maps.MapTypeControl();

                // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
                // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
                map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

                // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
                var zoomControl = new kakao.maps.ZoomControl();
                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT); 
                                       
                var iwContent = '<div class="map_info" style="position:absolute; left: 20px; top: 20px; z-index: 2;">' +
                                '    <!-- <div class="top">' +
                                    '    <a href="">                ' +                    
                                        '    <h5>' + actnm + '</h5>' +
                                        '    <div class="arrow"><img th:src="@{/assets/images/arrow.png}" alt=""></div>' +
                                    '    </a>' +
                                '    </div>' +                                
                                '    <div class="mid" th:style="background: url(/assets/images/map_img1.png) no-repeat center center;">' +
                                    '    <div class="state">접수<br/>완료</div>' +
                                    '</div> -->' +
                                    '<div class="bottom">' +
                                        '    <ul>' +
                                            '    <li>' +
                                            '    <div class="left">' + actnm + '</div>' +
                                            '    </li>' +
                                            '    <li>' +
                                            '    <div class="left">접수시간</div>' +
                                            '    <div class="right"> ' + recetime + ' </div>' +
                                            '    </li>' +
                                            '    <li class="employee">' +
                                                '    <div class="left">' +  equpnm + '</div>' +
                                                '    <div class="right">' +  actpernm + '</div>' +
                                            '    </li>' +
                                            '    <li class="employee">' +
                                                '    <div class="left">' + tel + '</div>' +
                                                '    <!-- <div class="right">6</div>-->' +
                                            '    </li>' +
                                            '    <li> ' + cotnm + '</li>' +
                                        '    </ul>' +
                            '    </div>' +
                        '    </div>' 
                     
                    iwPosition = new kakao.maps.LatLng(lngY, lngX), //인포윈도우 표시 위치입니다
                    iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

                    // 커스텀 오버레이를 생성합니다
                    var customOverlay = new kakao.maps.CustomOverlay({
                        position: iwPosition,
                        content: iwContent,
                        xAnchor: 0.3,
                        yAnchor: 0.91
                    });
            
                    // 커스텀 오버레이를 지도에 표시합니다
                    customOverlay.setMap(map);

            },error:function(e){
                console.log("error"); 
            }
        }).done(function(fragment){           

        }) 
 
    }
  

    function geo_dis(addr, actnm, recetime, actpernm, argY, argX, teltime){

            var geo_data = [];
            var lngY ;
            var lngX ;
            // console.log(addr);
            if( (argY == null || argY.length == 0 || argY == "") && (argY == null || argY.length == 0 || argY == "") ){
                alert("현장주소 또는 위치정보가 없습니다.")
                return 
            }
            if(argY == null || argY.length == 0 || argY == "" ){  
                $.ajax({
                    url: '/app01mod/getgeocode',  
                    type:"POST",
                    data: { 
                        "addrtext"      : addr 
                    }, 
                    async:false,
                    success:function(data){    
                        var GeoDto  = JSON.parse(data);
                        lngY = GeoDto.documents[0].y;
                        lngX = GeoDto.documents[0].x;
                    },error:function(e){
                        console.log("error"); 
                    }
                }).done(function(fragment){           

                })  
            }else{ 
                lngY = argY;
                lngX = argX;
                actnm = teltime;
            }   

            // console.log(lngY) ;  
            // console.log(lngX) ; 

            mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(lngY, lngX), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
            // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
            map = new kakao.maps.Map(mapContainer, mapOption);   
            // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
            var mapTypeControl = new kakao.maps.MapTypeControl();

            // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
            // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

            // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT); 
                                
            var iwContent = '<div class="map_info" style="position:absolute; left: 20px; top: 20px; z-index: 2;">' + 
                                '<div class="bottom">' +
                                    '    <ul>' +
                                        '    <li>' +
                                        '    <div class="left">' + actnm + '</div>' +
                                        '    </li>' +
                                        '    <li>' +
                                        '    <div class="left">접수시간</div>' +
                                        '    <div class="right"> ' + recetime + ' </div>' +
                                        '    </li>' +  
                                    '    </ul>' +
                        '    </div>' +
                    '    </div>' 
                
                iwPosition = new kakao.maps.LatLng(lngY, lngX), //인포윈도우 표시 위치입니다
                iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

                // 커스텀 오버레이를 생성합니다
                var customOverlay = new kakao.maps.CustomOverlay({
                    position: iwPosition,
                    content: iwContent,
                    xAnchor: 0.3,
                    yAnchor: 0.91
                });
        
                // 커스텀 오버레이를 지도에 표시합니다
                customOverlay.setMap(map);


        }
        function line_rtn(arg){

            var geo_data = [];
            var lngY ;
            var lngX ;
            if(arg == null || arg.length == 0 || arg == "" || arg == "%"){ 
                alert("핸드폰 번호가 없습니다.")
                return false
            }  

              
            // console.log(addr); 
            $.ajax({
                url: '/app01mod/getlinecode',  
                type:"POST",
                data: { 
                    "phone"      : arg 
                }, 
                async:false,
                success:function(data){   
                    console.log(data) ;
                    var linePath_data = []
                   
                        for (var i = 0; i < data.length; i++) {
                            lngY =  data[i]["telycodrdi"];
                            lngX =  data[i]["telxcoordi"];
                            linePath_data.push(new kakao.maps.LatLng(lngY, lngX));  
                        }    
  
                        mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                        mapOption = { 
                            center: new kakao.maps.LatLng(lngY, lngX), // 지도의 중심좌표
                            level: 7 // 지도의 확대 레벨
                        };  

                        map = new kakao.maps.Map(mapContainer, mapOption); //
                        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                        var mapTypeControl = new kakao.maps.MapTypeControl();

                        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
                        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
                        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

                        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
                        var zoomControl = new kakao.maps.ZoomControl();
                        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);                         


                        // 지도에 표시할 선을 생성합니다
                        var polyline = new kakao.maps.Polyline({
                            path: linePath_data, // 선을 구성하는 좌표배열 입니다
                            strokeWeight: 5, // 선의 두께 입니다
                            strokeColor: '#FF3DE5', // 선의 색깔입니다
                            strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                            strokeStyle: 'solid' // 선의 스타일입니다
                        }); 
                        // 지도에 선을 표시합니다 
                        polyline.setMap(map);  


                },error:function(e){
                    console.log("error"); 
                }
            }).done(function(fragment){           

            })  



        }        
        
    function search_rtn(){
        var ls_actnmz = document.getElementById('actnmz').value; 
        let ls_frdate = document.getElementById('frdate').value; 
        let ls_todate = document.getElementById('todate').value; 
        if(ls_actnmz == null || ls_actnmz.length == 0 || ls_actnmz == "" || ls_actnmz == "%"){ 
            ls_actnmz = "%";
        }  
        if(ls_frdate == null || ls_frdate.length == 0 || ls_frdate == "" || ls_frdate == "%"){ 
            alert("시작 일자를 입력하세요")
            return 
        }  
        if(ls_todate == null || ls_todate.length == 0 || ls_todate == "" || ls_todate == "%"){ 
            alert("종료 일자를 입력하세요")
            return 
        }  
        $.ajax({
                url: '/app01/emconlist',  
                type:"POST",
                data: { 
                    "frdate"      : ls_frdate,  
                    "todate"      : ls_todate ,  
                    "actnmz"      : ls_actnmz ,
                    "page"        : "emcon" 
                }, 
                async:false,
                success:function(data){   
                    $("#retrieveDiv").replaceWith(data);  
                },error:function(e){
                    console.log("error"); 
                }
            }).done(function(fragment){           

            })       
    }   

        $(document).ready(function() { 
            map_init(); 
            getToday()
            fn_egov_init_date()
            $("#frdate").change(function(e){ 
                console.log("달력클릭");
                // console.log(convert_time(e.timestamp));
            })
            $("#todate").change(function(e){               
            })
        })

          function getToday(){
            let today = new Date();   
            let year = today.getFullYear(); // 년도
            let month = today.getMonth() + 1;  // 월
            let date = today.getDate();  // 날짜
            let day = today.getDay();  // 요일
            if(month > 0 && month < 10) {month = "0" + month};
            if(date > 0 && date < 10) {date = "0" + date};
            let ls_frday = year + '-' + month + '-' + date 
            let ls_today = year + '-' + month + '-' + date 
            document.getElementById('frdate').value = ls_frday;
            document.getElementById('todate').value = ls_today;
        }

        function convert_time(timestamp){ 
            //현재시간
            var date = new Date(timestamp); 
            var year = date.getFullYear(); 
            var month = ("0" + (1 + date.getMonth())).slice(-2); 
            var day = ("0" + date.getDate()).slice(-2); 
            var hh = date.getHours();  
            var min = ('0' + date.getMinutes()).slice(-2) 
            time = year +  month +  day   ;
            return time;  
        }

        function fn_egov_init_date(){
            var $frdate = $('#frdate');
            var $todate = $('#todate');

            $frdate.flatpickr({
                enableTime: false,
                dateFormat: 'Y-m-d',
            });

            $todate.flatpickr({
                enableTime: false,
                dateFormat: 'Y-m-d',
            });

        }      

    </script>

    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 

 
    
</body>
</html>