<html lang="ko">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />
<body style="background: #f5f9fa;">
    <header>

    </header>
    <div class="content flex">
        <div class="header on">
            <div class="left">
                <div class="ham">
                    <button type="button"><img th:src="@{/assets/images/ham.png}" alt=""></button>
                </div>
                <div class="nav_bg"></div> 
           
                <!-- ################################ -->
                <!-- ## Left navigator include -->
                <th:block th:include="layouts/APPHeader/appLeftNav" />
                
            </div>
            <div class="right">           
            </div>
        </div>
        <div class="con">

            <!-- ################################ -->
            <!-- ## header top include -->
            <th:block th:include="layouts/APPHeader/appheadTopCall" />
             
            <div class="infor_bar">
                <ul class="left"  >
                    <li  >
                        <i><img th:src="@{/assets/images/i_circle1.png}" alt=""></i>
                        금일수신 &nbsp;<span th:text="${app03DtoList03[0].callcount}"> </span>   
                    </li>
                    <li>
                        <i><img th:src="@{/assets/images/i_circle2.png}" alt=""></i>
                        고장접수 &nbsp;<span th:text="${app03DtoList03[0].rececnt}"> </span>  
                    </li>
                    <li>
                        <i><img th:src="@{/assets/images/i_circle3.png}" alt=""></i>
                        콜백예약 &nbsp;<span th:text="${app03DtoList03[0].callback}"> </span>  
                    </li>
                    <li>
                        <i><img th:src="@{/assets/images/i_circle4.png}" alt=""></i>
                        당일처리 &nbsp;<span th:text="${app03DtoList03[0].compcnt}"> </span>  
                    </li>
                </ul>
                <ul class="mid">
                    <li>
                        <button type="button" class="color2">
                            승강기번호조회
                        </button>
                    </li>
                    <li>
                        <div class="input_wrap">
                            <input type="text">
                        </div>
                        <button>
                            <img th:src="@{/assets/images/call.png}" alt=""> 
                        </button>
                    </li>
                </ul>
                    
                <ul class="right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-secondary" type="button">전화번호목록</button>
                        <button class="btn btn-secondary" type="button">보수현장조회</button>
                        <button class="btn btn-secondary" type="button">콜백리스트</button>
                      </div>
                </ul>  
            </div> 
            <div class="section control">
                <div class="sec_con" style="width: 20%;">
                    <div class="date_wrap">
                        <input type="text"  class="form-control datetimepicker" id="frdate" autocomplete="off"  placeholder="Y-m-d"     >
                        <input type="text"  class="form-control datetimepicker" id="todate" autocomplete="off"  placeholder="Y-m-d"     >
                    </div> 
                    <div class="search">
                        <div class="input_wrap">
                            <input type="text" placeholder="전화번호/현장명">
                        </div>
                        <button>
                            <img th:src="@{/assets/images/i_search.png}" alt="">
                        </button>
                    </div>  
                    <div class="box_wrap in_tit"   >
                        <div class="tit">접수현황 LIST</div>
                        1tit<br>
                        1tit<br>1tit<br>1tit<br>1tit<br>1tit<br>1tit<br>1tit<br>1tit<br>1tit<br>1tit<br>
                    </div>
                    <!-- <div id="retrieveDiv">
                        1retrieveDiv
                    </div> -->
                </div>
                <div class="sec_con" style="width: 40%;">
                    <div class="date_wrap">
                         
                    </div>
                    <div class="box_wrap in_tit"   >
                        <div class="tit">고장접수</div> 
                        <form action="">
                            <div class="table table_style1">
                                <table>
                                    <tbody>
                                        <tr>
                                          <th>접수일자</th>
                                          <td>
                                            <div class="input_wrap date">
                                                <input type="text">
                                            </div>                                                            
                                          </td>
                                          <th>고장일자</th>
                                          <td>
                                            <div class="input_wrap date">
                                                <input type="text">
                                            </div>                                                            
                                          </td>
                                        </tr>
                                        <tr>
                                            <th>현장명</th>
                                            <td>
                                                <div class="input_wrap table_search">
                                                    <input type="text">
                                                    <button class="btn1" type="button"><img th:src="@{/assets/images/i_search2.png}" alt=""></button>
                                                </div>                                                                
                                            </td>
                                            <th>호기명</th>
                                            <td>
                                                <div class="input_wrap table_search">
                                                    <input type="text">
                                                    <button class="btn1" type="button"><img th:src="@{/assets/images/i_search2.png}" alt=""></button>
                                                </div>                                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>접수자</th>
                                            <td>
                                                <div class="input_wrap table_search">
                                                    <input type="text">
                                                    <button class="btn1" type="button"><img th:src="@{/assets/images/i_search2.png}" alt=""></button>
                                                </div>                                                                
                                            </td>
                                            <th>통보자<br/>(담당기사)</th>
                                            <td>
                                                <div class="input_wrap table_search">
                                                    <input type="text">
                                                    <button class="btn1" type="button"><img th:src="@{/assets/images/i_search2.png}" alt=""></button>
                                                </div>                                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>고장내용</th>
                                            <td colspan="3">
                                                <div class="input_wrap date">
                                                    <input type="text" th:style="'background: url(' + @{/assets/images/i_cal.png} + ') no-repeat #fff 98% 50%/15px auto;'">
                                                </div>                                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>갇힘<br/>사고 일자</th>
                                            <td colspan="3">
                                                <div class="input_wrap">
                                                    <input type="text">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>비고</th>
                                            <td colspan="3">
                                                <div class="input_wrap">
                                                    <input type="text">
                                                </div>                                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="btns"> 
                                    <button class="type1 color3 modal_step_open2" modal_step="Message"  style="min-width: 90px;" type="button">문자전송</button>
                                    <button class="btn btn-falcon-danger me-1 mb-1" type="button">접수
                                    </button>
                                    <button class="btn btn-falcon-default me-1 mb-1" type="button">문자전송
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- <div id="retrieveDiv">
                        2retrieveDiv
                    </div> -->
                </div> 
                <div class="sec_con" style="width: 40%;">
                     
                </div>
            </div>
        </div> 
    </div>
    <footer>

        
    </footer>

<script>
        $(document).ready(function() { 
            modal_init() 
        })
        function modal_init(){
            console.log("kkkkkkkk"); 
        }
</script>    


</script>
 
 
    
</body>
</html>