<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layouts/APPHeader/apphead :: headFragment" />

<body style="background: #f5f9fa;">
    <header>

    </header>
    <div class="content flex">
        
            <div class="header on">
                <div class="left">
                    <div class="ham">
                        <button type="button"><img th:src="@{/assets/images/ham.png}"   alt=""></button>
                    </div>
                    <div class="nav_bg"></div>
              
                        <!-- ################################ -->
                        <!-- ## Left navigator include -->
                        <th:block th:include="layouts/APPHeader/appLeftNav" />
                </div>
                <div class="right">           
                </div>
            </div>
            <div class="con">
                <div class="header_top">
                    <ul class="left">
                        <li>
                            <div class="logo">
                                <a href="">
                                    <img th:src="@{/assets/images/logo.png}" alt="">
                                </a>
                            </div>
                        </li>
                        <li class="home">
                            <a><img th:src="@{/assets/images/i_home.png}" alt=""></a>
                            <a><img th:src="@{/assets/images/i_home_on.png}" alt=""></a>
                        </li> 
                        <li class="on">
                            도면자료실
                        </li>
                        <!-- <li class="on">
                            고장접수관제현황
                        </li> -->
                    </ul>
                    <ul class="right">
                        <li>
                            <a href="">
                                <img th:src="@{/assets/images/i_call.png}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img th:src="@{/assets/images/i_bell.png}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img th:src="@{/assets/images/i_menu.png}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img th:src="@{/assets/images/i_que.png}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img th:src="@{/assets/images/i_user.png}" alt="">
                            </a>
                        </li>
                    </ul>
                </div> 
                
                <div class="infor_bar">
                    <ul class="left">
                        <li>
                            <i><img th:src="@{/assets/images/i_circle1.png}" alt=""></i>
                            <p>금일수신 <span>50</span></p>
                        </li>
                        <li>
                            <i><img th:src="@{/assets/images/i_circle2.png}" alt=""></i>
                            <p>고장접수 <span>50</span></p>
                        </li>
                        <li>
                            <i><img th:src="@{/assets/images/i_circle3.png}" alt=""></i>
                            <p>콜백예약 <span>50</span></p>
                        </li>
                        <li>
                            <i><img th:src="@{/assets/images/i_circle4.png}" alt=""></i>
                            <p>당일처리 <span>50</span></p>
                        </li>
                    </ul>
                    <ul class="mid">
                        <li>
                            <button type="button" class="color2">
                                전화번호 검색
                            </button>
                        </li>
                        <li>
                            <div class="input_wrap">
                                <input type="text">
                            </div>
                            <button>
                                <img th:src="@{/assets/images/call.png}" alt="">
                            </button>
                        </li>
                    </ul>
                    <!-- <div class="right">
                        <div class="input_wrap">
                            <h5>ID</h5>
                            <input type="text">
                        </div>
                        <div class="input_wrap">
                            <h5>PW</h5>
                            <input type="password">
                        </div>
                        <div class="button button1"><button><img th:src="@{/assets/images/in1.png}" alt=""></button></div>
                        <div class="button button2"><button><img th:src="@{/assets/images/in2.png}" alt=""></button></div>
                        <div class="modal_close cancerButton"><button><img th:src="@{/assets/images/modal_close.png}" alt=""></button></div>
                    </div> -->
    
                </div>               
                <div class="section ">                
                    <div class="sec_con" style="width: 100%;">
                        <div class="box_wrap">
                            <form action="">
                                 
                                <div class="container-fluid">  
                                </div>   

                            </form>

                        </div>
                    </div>
                </div>
            </div>




                <!--------------------------------------------------------------------------------------->
                <!-- ###########  자료등록 #############################################################-->
                <!--------------------------------------------------------------------------------------->
                 

                <!--------------------------------------------------------------------------------------->
                <!-- ###########  첨부파일 미리보기######################################################-->
                <!--------------------------------------------------------------------------------------->
                
                 
    </div>


    <script type="text/javascript" th:inline="javascript">
        

        function listUp(){ 
            window.location.href = '/app04/index01';          
            }
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
     

        function getToday(){
            let today = new Date();   

            let year = today.getFullYear(); // 년도
            let month = today.getMonth() + 1;  // 월
            let date = today.getDate();  // 날짜
            let day = today.getDay();  // 요일
            if(date > 0 && date < 10) {date = "0" + date};
            let ls_today = year + '-' + month + '-' + date 
            document.getElementById('actminputdatez').value = ls_today;
        }

        function convert_time(timestamp){ 
            //현재시간
            var date = new Date(timestamp); 
            var year = date.getFullYear();
            var month = ("0" + (1 + date.getMonth())).slice(-2);
            var day = ("0" + date.getDate()).slice(-2); 
            var hh = date.getHours();  
            var min = ('0' + date.getMinutes()).slice(-2) 
            time = year +  month +  day   ;
            return time;  
        }

        function fn_egov_init_date(){
            var $inputdate = $('#actminputdatez');
            var $endDate = $('#endDate');
            $inputdate.datetimepicker({
                timepicker: false,
                lang: 'ko',
                format: 'Y-m-d',
                scrollMonth: false,
                scrollInput: false,
                onShow: function (ct) {                                    
                    this.setOptions({
                        maxDate: $endDate.val() ? $endDate.val() : false
                    })
                },
            });

            $endDate.datetimepicker({
                timepicker: false,
                lang: 'ko',
                format: 'Y-m-d H:i',
                scrollMonth: false,
                scrollInput: false,
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $inputdate.val() ? $inputdate.val() : false
                    })
                }
            });

        }

    </script>

    <!------footer ------>
    <footer th:replace="layouts/APPHeader/appfooter :: footerFragment"></footer> 


    <!-- modal -->
    <!-- class="modal_step_open" modal_step="1" -->
    
    <div class="modal modal modal_step modal_step1 hidden">
        <div class="modal_overlay">
        </div>
        <div class="modal_content modal_sm scrollbar">
            <div class="layoutCont">  
                <div class="modalContWrap">
                    <!-- <div class="modal_close cancerButton">
                      <img th:src="@{/assets/images/modal_close.png}" alt="모달 닫기버튼">
                    </div>                       -->
                    <div class="modal_head">
                    </div>
                    <div class="modal_con scrollbar">
                      모든 정보를 입력하세요.                          
                    </div>

                </div>
                <div class="modal_btn">
                    <button class="cancerButton " type="button">확인</button>
                </div>
                <!-- <div class="modal_btn flex">
                    <button class="cancerButton " type="button">확인</button>
                    <button class="cancerButton " type="button">확인</button>                        
                </div> -->
            </div>
        </div>
    </div>
    
</body>
</html>